<h1 class="admin-title mb-3 mt-3 h1">
	<span class="d-inline-flex">
		<i class="material-icons my-auto mr-2 import-font-primary" style="font-size: inherit;">
			library_add
		</i>
		<span class="my-auto">Add Course</span>
	</span>
</h1>

<div class="d-flex flex-column p-3">
	<form class="form-group" method="POST" action="{% url 'admin_course' 'add' %}" enctype="multipart/form-data">
		{% csrf_token %}

		<div class="row">
			<div class="col-lg-6">
				<div class="form-control-group mb-3">
					<h5>Course Code & No.</h5>
					{{ courseform.name }}
				</div>

				<div class="form-control-group mb-3">
					<h5>Course Title</h5>
					{{ courseform.title }}
				</div>				
				
			</div>

			<div class="col-lg-6">
				<div class="form-control-group mb-3">
					<h5>Course Description</h5>
					{{ courseform.description }}
				</div>

			</div>

		</div>

		<div class="row w-100">
			<div class="col-lg-6 mr-4 col-3">
				<div class="form-control-group course-image-upload d-none position-absolute">
					{{ courseform.image }}
				</div>

				<h5>Photo</h5>
				<button class="mx-auto border-dashed import-image-drag {% if user.is_authenticated %}import-image-drag-enabled{%else%}-disabled{%endif%}" data-file-target="course-image-upload" style="border-width: 1px" type="button">
					{% if user.is_authenticated %}
						<div class="addphoto-popper ml-2 p-3">
							Add a photo
						</div>
					{% endif %}
					<i class="material-icons p-4">
						add_a_photo
					</i>
				</button>

				<script>
					PhotoUploadTooltip();
				</script>
			</div>

			<div class="mt-4">
				<div class="form-group mb-2">
					<div class="d-inline-flex">
						<span class="my-auto mr-3">
						Old Course?
						</span> 
						<span class="my-auto d-none position-absolute">
							{{ courseform.old_curr }}
						</span>
						<i class="material-icons my-auto">
							check_box
						</i>
						
					</div>
				</div>
 

				<div class="form-group">
					<p class="d-inline-flex">
						<span class="mr-3 my-auto">Visibility</span> 
						<span class="d-none position-absolute my-auto">
							{{ courseform.visible }}
						</span>
						<a href="#"><i class="material-icons my-auto">
							visibility
						</i></a>

					</p>
				</div>

			</div>
		</div>

		<div class="d-flex mt-3">
			<div class="mx-auto w-100">
				<h4>Prequisites and Corequisites</h4>

				<table class="table">
				  <thead>
				    <tr>
				      <th scope="col">Course Name</th>
				      <th scope="col" class="text-center">Prerequisite</th>
				      <th scope="col" class="text-center">Corequsite</th>
				    </tr>
				  </thead>
				  <tbody>

				  	<fieldset>
					{% for course in courses %}
						<tr>
					      <td scope="row">{{course.name}}</td>
					      <td class="text-center">
					      	<input type="checkbox" class="form-check-input" name="prereq" value="{{course.id}}" id="id_prereq_{{forloop.counter0}}">
					      </td>
					      <td class="text-center">
					      	<input type="checkbox" class="form-check-input" name="coreq" value="{{course.id}}" id="id_prereq_{{forloop.counter0}}">
					      </td>
					    </tr>
					{% endfor %}
					</fieldset>
				  </tbody>
				</table>	
			</div>
		</div>

		<div class="form-group w-100 d-flex my-0">
			<input class="btn btn-primary ml-auto mr-auto mr-lg-0" type="submit" value="Submit">
		</div>		
			
	</form>
</div>