
{% extends 'reviewer/base.html' %}


{% block title %}
	{{ course_filt.name }}
{% endblock %}

{% load static %}
{% block content %}
	<div class="container pt-5">
		<div class="my-5">
			<div class="m-auto d-flex flex-column align-items-start">
				<div class="w-100">
					<div class="mx-3">
						<div class="d-flex justify-content-between flex-column flex-lg-row mb-3 mb-lg-0">
							<div class="mx-auto mx-lg-0 text-center text-lg-left">
								<h1 class="h1 title course-{{course_filt.id}}" ><strong>{{ course_filt.code }} <span class="import-font-primary">{{ course_filt.number }}</span></strong></h1>
								<h4 class=" h4 mt-2">{{ course_filt.title }}</h4>
							</div>
							<div class="mx-auto mx-lg-0  text-center text-lg-right">
								<div>
									<small class="d-flex">
										<i class="material-icons material-icon-sm mx-2">update</i> Last Updated: {{ course_filt.lastupdated|date:"M d, Y, h:i A" }}
									</small>
									{% if course_filt.old_curr == True %}
										<small class="d-inline-flex mt-1">
											<i class="material-icons material-icon-sm mx-2">error_outline</i>
											This is part of an old curriculum.
										</small>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="mt-1 row">
							<div class="d-flex flex-column col-lg-8 ml-lg-0 ml-auto mr-auto">

								<p class="text-center text-lg-left">{{course_filt.description}}</p>
								<small>
									<div class="mb-1">
										<span>Prerequisites:</span>
										<div class="d-inline-flex align-items-start">
											{% if course_filt.prereqs.count > 0 %}
												{% for prereq in course_filt.prereqs.all %}
													{% if forloop.counter != 1 %}<span class="mr-1">,</span>{%endif%}
													<a href="{% url 'course' prereq.code|lower prereq.number %}">
														{{ prereq.name }}
													</a>
												{% endfor %}
											{% else %}
												None
											{% endif %}
										</div>
									</div>
									<div>
										<span>Corequisites:</span>
										<div class="d-inline-flex align-items-start">
											{% if course_filt.coreqs.count > 0 %}
												{% for coreq in course_filt.coreqs.all %}
													{% if forloop.counter != 1 %}<span class="mr-1">,</span>{%endif%}
													<a href="{% url 'course' coreq.code|lower coreq.number %}">
														{{ coreq.name }}
													</a>
												{% endfor %}
											{% else %}
												None
											{% endif %}
										</div>
									</div>
								</small>
							</div>

							{% if  user.is_superuser %}
								<div class="ml-auto mt-lg-auto mt-0 mb-auto mb-lg-0 col-lg-4 d-flex">
									<a class="ml-auto" href="{% url 'admin_course_id' course_filt.code|lower course_filt.number  'edit' %}">
										<button  type="button" class="btn btn-light px-3 d-flex">
											<div class="my-auto d-flex">
												<i class="material-icons">
													edit
												</i>
												<span class="my-auto ml-1 d-none d-md-block">
												Edit Course</span>	
											</div>
										</button>
									</a>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="course-tabs">
			<ul class="nav nav-tabs" id="coursetab" role="tablist">
			  <li class="nav-item">
			    <a class="nav-link {% if section == 'l' %}active{%endif%}" id="lessons-tab" data-toggle="tab" href="#lessons" role="tab" aria-controls="lessons" aria-selected="true">Lessons</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link {% if section == 'c' %}active{%endif%}" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="profile" aria-selected="false">
			    	Comments
			    	<div class="ml-auto my-auto position-absolute active-visible">
			    		<div class="d-flex position-relative" style="left: 4.7em; bottom:2.5em">
							<i class="material-icons my-auto mr-2 import-font-primary">mode_comment</i> 
							<div class="position-absolute d-flex" style="color: white; width: 1.5em"><small class="comme-count position-relative m-auto font-weight-bold" style="top:0.05em">
								{{ course_comment_count }}
							</small></div>
						</div>
					</div>
			    </a>
			    
			  </li>
			  <li class="nav-item">
			    <a class="nav-link {% if section == 'r' %}active{%endif%}" id="ref-tab" data-toggle="tab" href="#ref" role="tab" aria-controls="ref" aria-selected="false">References</a>
			  </li>
			</ul>
			<div class="tab-content" id="import-tabcontents">
			  <div class="tab-pane fade {% if section == 'l' %} show active{%endif%}" id="lessons" role="tabpanel" aria-labelledby="lessons-tab">
			  	...
			  </div>
			  <div class="tab-pane fade {% if section == 'c' %} show active{%endif%}" id="comments" role="tabpanel" aria-labelledby="comments-tab">
			  		{% include 'reviewer/partials/course/course-comments.html' %}
			  </div>
			  <div class="tab-pane fade {% if section == 'r' %} show active{%endif%}" id="ref" role="tabpanel" aria-labelledby="ref-tab">
			  		{% include 'reviewer/partials/course/course-references.html' %}
			  </div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}

	<script src="{% static 'reviewer/js/import_comments.js' %}"></script>

	<!-- Comments -->
	<script class="d-none">

		var coursect =  {{course_comment_count}};

		{% if cpage == 1 %}
			$(".comment-form").submit(function(event){

		    // Prevent default posting of form - put here to work in case of errors
		    event.preventDefault();

		    	{% if user.is_authenticated %}

				    if (importApp.requests.ajax)
				        importApp.requests.ajax.abort();
				  
				    var form = $(this);
				    var formData = new FormData(this);
				    var inputs = form.find("input, select, button, textarea");
				    inputs.prop("disabled", true);
				   
				    importApp.requests.ajax =  $.ajax({
		                type: 'post',
		                url: "{% url 'course' course_filt.code|lower course_filt.number %}",
		                data: formData,
		                cache: false,
		                contentType: false,
		                processData: false,
		                error: importApp.requests.ajaxFail,
		                complete: function(){ inputs.prop("disabled", false); },
		                success: function (response, status, xhr){

					    	let newcomment = response.comment_html;
							coursect != 0? $(".course-comments").prepend(newcomment) : $(".course-comments").html(newcomment);
							
							newcomment = $(".course-comments [data-comment-id='comment-" + response.commentid + "']");
							newcomment.addClass("the-new-comment");
							newcommentbody = newcomment.find('.comment-body');

							newcommentbody.html( 
								replace_url(replace_vid_url( newcommentbody.html() )) 
							);

							newcomment.fadeIn(2000);
							newcomment.removeClass("the-new-comment");
							renderMathInElement(document.body);
							coursect = coursect+1;
							$(".comme-count").html(coursect);

					    	$(".comment-text-area").val("");
					    	clearImage("comment-image-upload", document.querySelector(".import-image-drag"));

					    	$(".course-comments .comment:nth-of-type(" + ({{page_limit}}+1) +")").remove();
					    }
	                });

				    importApp.requests.ajax.done();
				    

		    	{% endif %}
			});
		{% endif %}

		$(".course-comments").on("click", ".comment-delete" , function(){
			let decision = confirm('Do you want to delete this comment?');

			if(decision){
				commentpass = $(this).parents(".comment");
		 		commentpassid = commentpass.attr("data-comment-id");

		 		console.log(commentpassid);

		 		if (importApp.requests.ajax) {
			        importApp.requests.ajax.abort();
			    }

		 		importApp.requests.ajax = $.ajax({
					url: importApp.urls.courseURL,
					method: "delete",
					data: {'commentID': commentpassid },
					headers: {'X-CSRFToken': importApp.csrfToken },
					error: importApp.requests.ajaxFail,
					success: function (response, status, xhr){
						commentpass.fadeOut(1000, function(){

							commentpass.remove();
							if(coursect > 0){
								coursect = response.course_comment_count;
								$(".comme-count").html(coursect);
							}
							
							if ( $(".course-comments .comment").length > 0){
								if (response.comment_html)
									$(".course-comments").append(response.comment_html);
							}
							else{
								response.page_count > 0? importApp.urls.redirect(importApp.urls.courseURL + `c/${response.page_count}/`) : $(".course-comments").append(response.empty_html);				
							}

							renderMathInElement(document.querySelector('.course-comments'));
						});
					}
			    });
		 	}
		}); 

		function initCourseSection(){
    		importApp.load({
    			comments: {
    				pageLimit : {{page_limit}}
    			},
    			urls: {  
					likeURL : "{% url 'comment_like' '$course_code' 123456789 %}",
					courseURL : "{% url 'course' course_filt.code|lower course_filt.number %}"
				}	 
    		});
    		importApp.comments.loadLikeIcon({{liked_comments}});
    		initDragBoxData(true);
    	}

    	initCourseSection();

	</script>
{% endblock %}