<h2 class="admin-title mb-3 h2">
	<span class="d-inline-flex">
		<i class="material-icons my-auto mx-3 import-font-primary" style="font-size: inherit;">
			{% if title == 'Add Course'%}
					library_add
			{% elif title == 'Edit Course' %}
					edit
			{% endif %}
		</i>
		<span class="my-auto">
			<span class="font-weight-bold">{{title}}</span>
			{% if title == 'Edit Course' %}
				<p class="h6 text-muted">{{courseform.name.value}}</p>
			{% endif %}
		</span>
	</span>
</h2>

{% if error %}
	<div class="w-100 alert-danger p-3 d-flex">
		<i class="material-icons mr-3 my-auto ml-0">
		error_outline
		</i>
		<span class="my-auto">{{error}}</span>
	</div>
{% endif %}
<div class="d-flex flex-column p-3 pb-0">
	<form class="form-group mb-0" method="POST" action="
		{% if title == 'Add Course' %}
			{% url 'admin_course' %}
		{% else %}
			{% url 'admin_course_id' course_subj course_num 'edit' %}
		{% endif %}
		" enctype="multipart/form-data">
		{% csrf_token %}

		<div class="row">
			<div class="col-lg-6">
				<div class="form-control-group mb-3">
					<h6 class="font-weight-bold">Course Code & No.</h6>
					{{ courseform.name }}
				</div>

				<div class="form-control-group mb-3">
					<h6 class="font-weight-bold">Course Title</h6>
					{{ courseform.title }}
				</div>				
				
			</div>

			<div class="col-lg-6">
				<div class="form-control-group mb-3">
					<h6 class="font-weight-bold">Course Description</h6>
					{{ courseform.description }}
				</div>

			</div>

		</div>

		<div class="row w-100">
			<div class="col-lg-6 mr-4 col-3">
				<div class="form-control-group course-image-upload d-none position-absolute">
					<div>
						{{ courseform.imagehascleared }}
					</div>

					<div>
						<input type="file" name="image" accept="image/*" id="id_image">
						{% if courseform.imageID.value %}
							<a href="{{courseform.imageID.value}}">
							</a>
						{% endif %}
					</div>
				</div>
				<h6 class="font-weight-bold">Photo</h6>
				<button class="mx-auto border-dashed import-image-drag {% if user.is_authenticated %}import-image-drag-enabled{%else%}-disabled{%endif%}" data-file-target="course-image-upload" style="border-width: 1px" type="button">
					{% if user.is_authenticated %}
						<div class="addphoto-popper ml-2 p-3">
							Add a photo
						</div>
					{% endif %}
					<i class="material-icons p-4">
						add_a_photo
					</i>
				</button>

				<script>
					try{
						PhotoUploadTooltip();
					}
					catch(error){

					}
				</script>
			</div>

			<div class="mt-4 d-flex w">
				<div class="form-group mr-4">
					<div class="d-inline-flex">
						<span class="my-auto mr-3 font-weight-bold">
						Old Course?
						</span> 
						<span class="my-auto d-none position-absolute old-curr-val">
							{{ courseform.old_curr }}
						</span>

						<i class="material-icons my-auto togglable {% if courseform.old_curr.value %}active-button{% endif %}" onclick="
							if ($('#id_old_curr').prop('checked')){
								$('#id_old_curr').removeAttr('checked');
							}
							else{
								$('#id_old_curr').attr('checked', 'checked');
							}
						">
							check_box{% if not courseform.old_curr.value %}_outline_blank{% endif %}
						</i>
					
						
					</div>
				</div>
 

				<div class="form-group">
					<p class="d-inline-flex">
						<span class="mr-3 my-auto font-weight-bold">Visibility</span> 
						<span class="d-none position-absolute my-auto course-vis-val">
							{{ courseform.visible }}
						</span>
						<i class="material-icons my-auto togglable {% if courseform.visible.value %}active-button{% endif %} " onclick="
							if ($('#id_visible').prop('checked')){
								$('#id_visible').removeAttr('checked');
							}
							else{
								$('#id_visible').attr('checked', 'checked');
							}
						">
							visibility{% if not courseform.visible.value %}_off{%endif%}
						</i>


					
					</p>
				</div>

			</div>
		</div>

		<div class="d-flex mt-3">
			<div class="mx-auto w-100">
				<h5>Prequisites and Corequisites</h5>

				<button class="btn btn-primary d-flex" type="button" onclick="$('table').fadeToggle()"><i class="material-icons material-icon-sm my-auto mr-2">library_books</i> <span class="my-auto">Toggle prerequisites/corequisites</span></button>

				<table class="table mt-3 req-table" style="display: none">
				  <thead>
				    <tr>
				      <th scope="col">Course Name</th>
				      <th scope="col" class="text-center">Prerequisite</th>
				      <th scope="col" class="text-center">Corequsite</th>
				    </tr>
				  </thead>
				  <tbody>

				  	<fieldset>
				  	{% if courses.count > 0 %}

						{% for course in courses %}
							<tr>
						      <td scope="row">
						      	{{course.name}}
						      	{% if not course.visible %}
							      	<i class="material-icons my-auto ml-2">
										visibility_off
									</i>
								{% endif %}
						      </td>
						      <td class="text-center">
						      	<input type="checkbox" class="form-check-input prereq" name="prereq" value="{{course.id}}" id="id_prereq_{{forloop.counter0}}">
						      </td>
						      <td class="text-center">
						      	<input type="checkbox" class="form-check-input coreq" name="coreq" value="{{course.id}}" id="id_coreq_{{forloop.counter0}}">
						      </td>
						    </tr>
						{% endfor %}
					{% else %}
						<tr>
							<td>
								<span class="text-muted text-center"> No other courses found. </span>
							</td>
						<tr>

					{% endif %}
					</fieldset>
				  </tbody>
				</table>	
			</div>


			<script>
				{% if course_prereq %} 
				var prereq_values = {{course_prereq}} ;

				for (i = 0; i < prereq_values.length ; i++){
					document.querySelector(".prereq[value='" + prereq_values[i] + "']").setAttribute('checked', 'checked');
				}

				{% endif %}
				
				{% if course_coreq %} 
					var coreq_values  = {{course_coreq}};
					for (i = 0; i < coreq_values.length ; i++){
						document.querySelector(".coreq[value='" + coreq_values[i] + "']").setAttribute('checked', 'checked');
					}
				{% endif%}

				

				

				
			</script>
		</div>

		<hr>
		<div class="w-100 d-flex mt-3">
			<div class="mr-auto form-group w-50 my-auto">
				<h6 class="font-weight-bold d-inline-flex mr-2">
					<i class="material-icons my-auto material-icon-sm mr-1">
						verified_user
					</i>
					<span class="my-auto">
						Confirm Action
					</span>
				</h6>
				<input class="form-control my-3 w-100" name="password" type="password" placeholder="Type password to confirm" required>
			</div>
			<div class="form-group mt-auto">
				<input class="btn btn-primary ml-auto mr-auto mr-lg-0" type="submit" value="Submit">
			</div>	
		</div>	
			
	</form>
</div>