
{% extends 'reviewer/base.html' %}

{% block title %}
	{{ course_filt.name }}
{% endblock %}

{% load static %}
{% block content %}
	<div class="container pt-5">
		<div class="my-5">
			<div class="m-auto d-flex flex-column align-items-start">
				<div class="w-100">
					<div class="mx-3">
						<div class="d-flex justify-content-between flex-column flex-lg-row mb-3 mb-lg-0">
							<div class="mx-auto mx-lg-0 text-center text-lg-left">
								<h1 class="h1 title course-{{course_filt.id}}" ><strong>{{ course_filt.code }} <span class="import-font-primary">{{ course_filt.number }}</span></strong></h1>
								<h4 class=" h4 mt-2">{{ course_filt.title }}</h4>
							</div>
							<div class="mx-auto mx-lg-0  text-center text-lg-right">
								<div>
									<small class="d-flex">
										<i class="material-icons material-icon-sm">update</i>
										<span class="ml-2 mr-1"> Last Updated: </span>
										<time>{{ course_filt.lastupdated|date:"M d, Y, h:i A" }}</time>
									</small>
									{% if course_filt.old_curr == True %}
										<small class="d-inline-flex mt-1">
											<i class="material-icons material-icon-sm mx-2">error_outline</i>
											This is part of an old curriculum.
										</small>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="mt-1 row">
							<div class="d-flex flex-column col-lg-8 ml-lg-0 ml-auto mr-auto">
								<p class="text-center text-lg-left">{{course_filt.description}}</p>
								<small>
									<div class="mb-1">
										<span>Prerequisites:</span>
										<div class="d-inline-flex align-items-start">
											{% if course_filt.prereqs.count > 0 %}
												{% for prereq in course_filt.prereqs.all %}
													{% if forloop.counter != 1 %}<span class="mr-1">,</span>{%endif%}
													<a href="{% url 'course' prereq.code|lower prereq.number %}">
														{{ prereq.name }}
													</a>
												{% endfor %}
											{% else %}
												None
											{% endif %}
										</div>
									</div>
									<div>
										<span>Corequisites:</span>
										<div class="d-inline-flex align-items-start">
											{% if course_filt.coreqs.count > 0 %}
												{% for coreq in course_filt.coreqs.all %}
													{% if forloop.counter != 1 %}<span class="mr-1">,</span>{%endif%}
													<a href="{% url 'course' coreq.code|lower coreq.number %}">
														{{ coreq.name }}
													</a>
												{% endfor %}
											{% else %}
												None
											{% endif %}
										</div>
									</div>
								</small>
							</div>

							{% if  user.is_superuser %}
								<div class="ml-auto mt-lg-auto mt-0 mb-auto mb-lg-0 col-lg-4 d-flex">
									<a class="ml-auto" href="{% url 'admin_course_id' course_filt.code|lower course_filt.number  'edit' %}">
										<button  type="button" class="btn btn-light px-3 d-flex">
											<div class="my-auto d-flex">
												<i class="material-icons">
													edit
												</i>
												<span class="my-auto ml-1 d-none d-md-block">
												Edit Course</span>	
											</div>
										</button>
									</a>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="course-tabs">
			<ul class="nav nav-tabs" id="coursetab" role="tablist">
			  <li class="nav-item">
			    <a class="nav-link {% if section == 'l' %}active{%endif%}" id="lessons-tab" data-toggle="tab" href="#lessons" role="tab" aria-controls="lessons" aria-selected="true">Lessons</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link {% if section == 'c' %}active{%endif%}" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="profile" aria-selected="false">
			    	Comments
			    	<div class="ml-auto my-auto position-absolute active-visible">
			    		<div class="d-flex position-relative" style="left: 4.7em; bottom:2.5em">
							<i class="material-icons my-auto mr-2 import-font-primary">mode_comment</i> 
							<div class="position-absolute d-flex" style="color: white; width: 1.5em"><small class="comme-count position-relative m-auto font-weight-bold" style="top:0.05rem">
								{{ course_comments.count }}
							</small></div>
						</div>
					</div>
			    </a>
			    
			  </li>
			  <li class="nav-item">
			    <a class="nav-link {% if section == 'r' %}active{%endif%}" id="ref-tab" data-toggle="tab" href="#ref" role="tab" aria-controls="ref" aria-selected="false">References</a>
			  </li>
			</ul>
			<div class="tab-content" id="import-tabcontents">
			  <div class="tab-pane fade {% if section == 'l' %} show active{%endif%}" id="lessons" role="tabpanel" aria-labelledby="lessons-tab">
			  	...
			  </div>
			  <div class="tab-pane fade {% if section == 'c' %} show active{%endif%}" id="comments" role="tabpanel" aria-labelledby="comments-tab">
			  		{% include 'reviewer/partials/course/course-comments.html' %}
			  </div>
			  <div class="tab-pane fade {% if section == 'r' %} show active{%endif%}" id="ref" role="tabpanel" aria-labelledby="ref-tab">
			  		{% include 'reviewer/partials/course/course-references.html' %}
			  </div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}

	<script src="{% static 'reviewer/js/circle-progress.min.js' %}"></script>
	<script src="{% static 'reviewer/js/import_comments.js' %}"></script>
	<script>

		$('#comment-circle').circleProgress({
			value: 0,
			size: 25,
			lineCap: 'round',
			startAngle : (-Math.PI)/2,
			fill: {
				color: ["#ff9172"],
				emptyFill: '#f8ef60'
			},
			animation: false
		});

		{% if commentpage.current == 1 %}
		$(".comment-form").submit(function(event){
			event.preventDefault();
			{% if user.is_authenticated %}importApp.comments.submit(this);{% endif %}
		});
		{% endif %}

		$(".course-comments").on("click", ".comment-delete" , function(e){ e.stopPropagation(); importApp.comments.delete(this); }); 
		
		importApp.load({
			comments: {
				pageLimit : {{commentpage.limit| escapejs}}
			},
			urls: {  
				likeURL : "{% url 'comment_like' '$course_code' 123456789 %}",
				courseURL : "{% url 'course' '$course_code' 123456789 %}"
			},
			init : function(){
				importApp.comments.count.byCourse({{course_comments.count | escapejs}});
			}
		});
		initDragBoxData(true);

		$('.comment-text-area').keydown(function(event){
			var max_length = $(this).attr("maxlength");
			var letterct = max_length - $('.comment-text-area').val().length;
			var percent = $('.comment-text-area').val().length/max_length;
			$('.comment-letter-count').html(letterct);
			$('#comment-circle').circleProgress('value', percent); 
		});

		$('.comment-text-area').keyup(function(event){
			var max_length = $(this).attr("maxlength");
			var letterct = max_length - $('.comment-text-area').val().length;
			var percent = $('.comment-text-area').val().length/max_length;
			$('.comment-letter-count').html(letterct);
			$('#comment-circle').circleProgress('value', percent); 
		});

   
	</script>
{% endblock %}