{% extends 'reviewer/base.html' %}


{% block title %}
	Course List
{% endblock %}

{% block content %}
	<div class="container py-5 d-flex">
		<div class="w-100 py-5">
			<div class="d-flex justify-content-between">
				<h1 class="font-weight-bold">Course List</h1>

				{% if user.is_superuser %}
				<div class="d-inline-block">

					<a class="ajax-button" href="{% url 'admin_course' %}" data-toggle="modal" data-target="#importModal">
						<button type="button" class="btn btn-light px-3 d-flex" >
							<div class="my-auto d-flex">
								<i class="material-icons">
									library_add
								</i>
								<span class="my-auto ml-1 d-none d-md-block">
								Add Course</span>	
							</div>
						</button>
					</a>
				</div>
				{% endif %}
			</div>
			<div class="row">
				<div class="col-lg-8 course-list">
					<hr class="mb-3">
					{% if courselist.count == 0 %}
						<div class="text-center mt-4 d-flex">
							<div class="mx-auto d-flex text-muted"> 
								<i class="material-icons my-auto ml-0 mr-2">
									library_books
								</i>
								<span class="my-auto">No courses available to show</span>
							</div>
						</div>
					{% else %}
					
						{% for course in courselist %}
							<div class="py-3 mb-3 d-flex justify-content-between layer-container px-4" id="course-{{course.id}}">
								<div class="my-auto">
									<div class="d-inline-flex">
										<div class="my-auto mr-3 course-thumb" style="{% if course.imageID %}background-image: url('https://drive.google.com/uc?export=view&id={{course.imageID}}'); {%endif%}">

										</div>

										<div class="my-auto mx-auto">
											<h5>
												<span class="font-weight-bold">{{course.name}}</span> 
												{% if course.old_curr == True %}
													<i class="material-icons material-icon-sm text-danger info-help" title="This is part of an old curriculum.">error_outline</i>
												{% endif %}
											</h5>
											<h6>{{course.title}}</h6>
										</div> 	
									</div>
								</div>

								<a class="my-auto" href="{% url 'course' course.code|lower course.number %}">
									<button class="btn btn-primary btn-sm d-flex justify-content-center">
											<span class="my-auto d-none d-md-block">Start</span><i class="material-icons my-auto mx-1" style="font-size: 1em">arrow_forward</i>
									</button>
								</a>
							</div>
						{% endfor %}
					{% endif %}
				</div>
				<div class="col-lg-4 d-flex">
					<div class="mx-auto mr-lg-0">
						<div class="d-flex mb-3 ad-box">
							<span class="m-auto text-light h1 font-weight-bold">ADS</span>
						</div>

						<hr>
						<div class="d-none d-lg-block">
							<h4 class="d-inline-flex my-3">
								<i class="material-icons my-auto mr-2 import-font-primary">
									announcement
								</i>
								<span class="my-auto font-weight-bold">
									Announcements
								</span>
							</h4>
							{% if announcements.count == 0 %}
								<p>No announcements to show.</p>
							{% else %}
								{% for announcement in announcements %}
									<a href="{% url 'announcement_view' announcement.id %}">
										<div class="layer-container px-4 py-3 comment-username mb-2">
											<h6 class="font-weight-bold">{{announcement.title}}</h6>
											<small>{{announcement.datepost|date:"M d, Y, h:i A" }}</small>
										</div>
									</a>
								{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}

	<script>

		{% if user.is_superuser %}
			$(".ajax-button").attr("href", "#");
			$(".ajax-button").click(function(e){

				e.preventDefault();
				$.get( "{% url 'admin_get_course' 'add' %}", function( data ) {
				  $( ".modal-body" ).html( data );
				   $( ".modal-title" ).html( $( ".admin-title" ).html() );
				   $(".admin-title").remove();
				   initPhotoLoad();
				});

			});
		{% endif %}
		

	</script>
	
{% endblock %}