{% extends 'reviewer/base.html' %}
{% load static %}
{% block content %}
	<div class="container pt-5">
		<div class="my-5 py-3">
			<div class="row">
				{% if user.is_authenticated and user.is_superuser %}
					<div class="col-lg-3 pl-1">
						<div class="nav flex-row flex-lg-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						  <a href="{% url 'admin_dashboard' %}"class="nav-link {% if currpage == "dashboard" %}active{% endif %} d-flex justify-content-between" id="v-pills-dashboard-tab" role="tab" aria-controls="v-pills-dashboard" aria-selected="{% if currpage == "dashboard" %}true{% else %}false{% endif %}">
						  	<span class="my-auto">Dashboard</span>
						  	<div class="menu-icon d-flex align-items-center">
						  		<i class="material-icons material-icon-sm">
									assessment
								</i>
						  	</div>
						  </a>
						  <a href="{% url 'admin_users' %}" class="nav-link  {% if currpage == "users" %}active{% endif %} d-flex justify-content-between" id="v-pills-users-tab" role="tab" aria-controls="v-pills-users" aria-selected="{% if currpage == "users" %}true{% else %}false{% endif %}">
						  	<span class="my-auto">Users</span>
						  	<div class="menu-icon d-flex align-items-center">
						  		<i class="material-icons material-icon-sm">
									supervisor_account
								</i>
						  	</div>
						  </a>
						  <a href="{% url 'admin_course_list' %}" class="nav-link {% if currpage == "courses" %}active{% endif %} d-flex justify-content-between" id="v-pills-courses-tab" role="tab" aria-selected="{% if currpage == "courses" %}true{% else %}false{% endif %}">
						  	<span class="my-auto">Courses</span>
						  	<div class="menu-icon d-flex align-items-center">
						  		<i class="material-icons material-icon-sm">
									library_books
								</i>
						  	</div>
						  </a>
						   <a href="{% url 'admin_langlist' %}" class="nav-link {% if currpage == "languages" %}active{% endif %} d-flex justify-content-between" id="v-pills-languages-tab" role="tab" aria-controls="v-pills-languages" aria-selected="{% if currpage == "languages" %}true{% else %}false{% endif %}">
						  	<span class="my-auto">Languages</span>
						  	<div class="menu-icon d-flex align-items-center">
						  		<i class="material-icons material-icon-sm">
									code
								</i>
						  	</div>
						  </a>
						   <a class="nav-link {% if currpage == "refs" %}active{% endif %} d-flex justify-content-between" id="v-pills-references-tab" data-toggle="pill" href="#v-pills-references" role="tab" aria-controls="v-pills-references"aria-selected="{% if currpage == "refs" %}true{% else %}false{% endif %}">
						  	<span class="my-auto">References</span>
						  	<div class="menu-icon d-flex align-items-center">
						  		<i class="material-icons material-icon-sm">
									insert_drive_file
								</i>
						  	</div>
						  </a>
						  <a href="{% url 'admin_announcement' %}" class="nav-link {% if currpage == "announcements" %}active{% endif %} d-flex justify-content-between" id="v-pills-announcements-tab" role="tab" aria-controls="v-pills-announcements" aria-selected="{% if currpage == "announcements" %}true{% else %}false{% endif %}">
						  	<span class="my-auto">Announcements</span>
						  	<div class="menu-icon d-flex align-items-center">
						  		<i class="material-icons material-icon-sm">
									announcement
								</i>
						  	</div>
						  </a>
						   <a class="nav-link {% if currpage == "partners" %}active{% endif %} d-flex justify-content-between" id="v-pills-partners-tab" data-toggle="pill" href="#v-pills-partners" role="tab" aria-controls="v-pills-partners" aria-selected="{% if currpage == "partners" %}true{% else %}false{% endif %}">
						  		<span class="my-auto">Partners</span>
							  	<div class="menu-icon d-flex align-items-center">
							  		<i class="material-icons material-icon-sm">
										perm_contact_calendar
									</i>
							  	</div>
						  </a>
						   <a class="nav-link {% if currpage == "bugs" %}bugs{% endif %} d-flex justify-content-between" id="v-pills-bugs-tab" data-toggle="pill" href="#v-pills-bugs" role="tab" aria-controls="v-pills-bugs" aria-selected="{% if currpage == "bugs" %}true{% else %}false{% endif %}">
						  	<span class="my-auto">Bug Reports</span>
							  	<div class="menu-icon d-flex align-items-center">
							  		<i class="material-icons material-icon-sm">
										bug_report
									</i>
							  	</div>
						  </a>
						  <a class="nav-link {% if currpage == "ssetings" %}ssettings{% endif %} d-flex justify-content-between" id="v-pills-ssettings-tab" data-toggle="pill" href="#v-pills-ssetings" role="tab" aria-controls="v-pills-ssettings" aria-selected="{% if currpage == "ssettings" %}true{% else %}false{% endif %}">
						  	<span class="my-auto">Site Settings</span>
							  	<div class="menu-icon d-flex align-items-center">
							  		<i class="material-icons material-icon-sm">
										web
									</i>
							  	</div>
						  </a>
						</div>
					</div>
					<div class="col-lg-9">
						<div class="tab-content" id="v-pills-tabContent">
							{% block admin_side %}
							{% endblock %}
						</div>
					</div>

				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}