{% extends 'reviewer/admin/admin.html' %}

{% load static %}
{% block title %}
	Course List
{% endblock %}


{% block admin_side %}
	<div class="tab-pane fade show active" id="v-pills-users" role="tabpanel" aria-labelledby="v-pills-users-tab">

		<div class="d-flex justify-content-between">
			<h2 class="font-weight-bold mb-4">Course List</h2>
			<div class="d-inline-block">

					<a href="{% url 'admin_course' %}">
						<button type="button" class="btn btn-light px-3 d-flex" >
							<div class="my-auto d-flex">
								<i class="material-icons">
									library_add
								</i>
								<span class="my-auto ml-1 d-none d-md-block">
								Add Course</span>	
							</div>
						</button>


					</a>
				</div>
		</div>
		
		{% for course in courselist %}
			<div class="p-4 mb-3 row layer-container">
				<div class="col-8">
					<a href="{% url 'course' course.code|lower course.number %}" class="d-flex flex-wrap">
						<div class="my-auto mr-3 course-thumb" style="{% if course.image %}background-image: url('{{course.image.url}}'); {%endif%}">
						</div>
						<div class="my-auto mx-3 d-inline-flex flex-column">
							<span class="font-weight-bold comment-username d-flex">
								<span class="my-auto mr-2">{{course.name}}</span>

								{% if not course.visible %}
								<i class="material-icons my-auto text-muted mx-0 px-0">
									visibility_off
								</i>
								{% endif %}

								{% if course.old_curr == True %}
									<i class="material-icons material-icon-sm text-danger info-help ml-1 px-0 my-auto" title="This is part of an old curriculum.">error_outline</i>
								{% endif %}
							</span>
							<small class="text-muted">{{course.title}}</small>
						</div>
					</a>
				</div>

				<div class="col-2 d-flex">
						<a class="mx-auto my-auto" href="#">
							<button  type="button" class="btn btn-primary px-2 d-flex">
								<div class="m-auto d-flex">
									<i class="material-icons material-icon-sm my-auto ml-1">
										assignment
									</i>
									<span class="my-auto mx-1">Lessons</span>
								</div>
							</button>
						</a>				
				</div>

				<div class="col-2 d-flex">
						<a class="ml-auto my-auto" href="{% url 'admin_course_id' course.code|lower course.number  'edit' %}">
							<button  type="button" class="btn btn-light px-2 d-flex">
								<div class="m-auto d-flex">
									<i class="material-icons material-icon-sm">
										edit
									</i>
								</div>
							</button>
						</a>

						<a class="ml-2 delete-course my-auto" href="{% url 'admin_course_id'  course.code|lower course.number 'delete' %} ">
							<button  type="button" class="btn btn-danger px-2 d-flex">
								<div class="m-auto d-flex">
									<i class="material-icons material-icon-sm">
										delete
									</i>
								</div>
							</button>
						</a>
				
				</div>

			
			</div>
		{% endfor %}

		<div class="modal fade" id="PasswordModalCenter" tabindex="-1" role="dialog" aria-labelledby="PasswordModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">Confirm action</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <form class="p-3" action="{% url 'admin_users' %}" method="post">
		      		{% csrf_token %}
			      <div class="modal-body">
			        Please enter your password below.
				    <input class="form-control my-3" type="password" name="password" required>
				   
			      </div>
			      <input class="username-submit" type="hidden" value="" name="username">
			      <div class="modal-footer">
			        <button class="btn btn-primary d-inline-flex verify-button" type="submit" >
						<i class="material-icons my-auto material-icon-sm mr-2">
						verified_user
						</i>
						<span class="my-auto">Make Superuser</span>
					</button>
			      </div>
			   </form>
		    </div>
		  </div>
		</div>

	</div>

{% endblock %}


{% block scripts %}

	<script>

		 $('.delete-course').on('click', function (e) {

		 	var del = confirm('Are you sure you want to delete {{course_filt.name}}?');

		 	if (!del){
		 		e.preventDefault();
		 	}
	    });


	</script>

{% endblock %}