{% extends 'reviewer/admin/admin.html' %}

{% load static %}
{% block title %}
	All Users
{% endblock %}


{% block admin_side %}
	<div class="tab-pane fade show active" id="v-pills-users" role="tabpanel" aria-labelledby="v-pills-users-tab">

		<h2 class="font-weight-bold">All Users</h2>
		<div class="mb-4">
			<small class="text-muted">Users will only be read-only in the admin side for proper access control.</small>
		</div>

		{% for user_filt in users %}
			<div class="p-4 mb-3 row layer-container" {% if user == user_filt %}style="border-left: 2px solid green"{% endif %}>
				<div class="col-4">
					<a href="{% url 'user' user_filt.username %}" class="d-flex">
						<img class="user-pic-thumb my-auto" src="
						{% if user_filt.prof_picID %}
							https://drive.google.com/thumbnail?id={{user_filt.prof_picID}}
						{% else %}
							{% static 'reviewer/images/default_profile.png' %}
						{% endif %}

						">
						<div class="my-auto mx-3 d-flex flex-column">
							<span class="font-weight-bold comment-username">{{user_filt.username}}</span>
							<small class="text-muted">{{user_filt.last_name}}, {{user_filt.first_name}}</small>
						</div>
					</a>
				</div>

				<div class="m-auto d-flex flex-column col-4">
					<small class="mb-2 font-weight-bold">E-mail</small>
					{{user_filt.email}}

				</div>

				<div class="col-4 d-flex">
					<div class="ml-auto my-auto d-flex flex-column">
						<small class="mb-2 font-weight-bold">Superuser Status</small>
						<i class="superbutton pointer-cursor material-icons disabled-color my-auto {% if user_filt.is_superuser %}active-button{% endif %} " data-toggle="modal" data-target="#PasswordModalCenter" data-username="{{user_filt.username}}">
							verified_user
						</i>

					</div>
				</div>
			</div>
		{% endfor %}

		<div class="modal fade" id="PasswordModalCenter" tabindex="-1" role="dialog" aria-labelledby="PasswordModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">Confirm action</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <form class="p-3" action="{% url 'admin_users' %}" method="post">
		      		{% csrf_token %}
			      <div class="modal-body">
			        Please enter your password below.
				    <input class="form-control my-3" type="password" name="password" required>
				   
			      </div>
			      <input class="username-submit" type="hidden" value="" name="username">
			      <div class="modal-footer">
			        <button class="btn btn-primary d-inline-flex verify-button" type="submit" >
						<i class="material-icons my-auto material-icon-sm mr-2">
						verified_user
						</i>
						<span class="my-auto">Make Superuser</span>
					</button>
			      </div>
			   </form>
		    </div>
		  </div>
		</div>

	</div>

{% endblock %}


{% block scripts %}
	<script>
		var uname2change;
		$(".superbutton").click(function(){
			uname2change = $(this).attr("data-username");
			$(".username-submit").attr("value", uname2change);
		});
		{% if message %}
			alert("{{message|safe}}");
			importApp.urls.refresh();
		{% endif %}
	</script>
{% endblock %}