
<h2 class="admin-title mb-3 h2 d-inline-block">
	<span class="d-inline-flex">
		<i class="material-icons my-auto mx-3 import-font-primary" style="font-size: inherit;">
			{% if title == 'Add Lesson'%}
				add
			{% elif title == 'Edit Lesson' %}
				edit
			{% endif %}
		</i>
		<span class="my-auto">
			<span class="font-weight-bold">{{title}}</span>
			{% if title == 'Edit Lesson' %}
				<p class="h6 text-muted d-flex">
					<span class="my-auto">{{edit_lesson.course.name}}</span>
					<i class="material-icons material-icon-sm mx-1 my-auto">
						arrow_forward
					</i>
					<span class="my-auto">{{edit_lesson.name}}</span>
				</p>
			{% endif %}
		</span>
	</span>
</h2>

{% if error %}
	<div class="w-100 alert-danger p-3 d-flex">
		<i class="material-icons mr-3 my-auto ml-0">
		error_outline
		</i>
		<span class="my-auto">{{error}}</span>
	</div>
{% endif %}
<div class="d-flex flex-column pl-3">

	<h4 class="font-weight-bold">Lesson Settings</h4>
	<form class="form-group my-3" id="lessons-form" method="POST" action="
	{% if title == 'Add Lesson'%}
		{% url 'admin_lessons_add' %}
	{% elif title == 'Edit Lesson' %}
		{% url 'admin_lesson' edit_lesson.id 'edit' %}
	{% endif %}
	" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
					<label>
						<strong>Name</strong>
						<span class="import-font-primary">*</span> 
					</label>
					<input class="form-control pr-5 mx-0" type="text" name="name" value="{{edit_lesson.name}}" autocomplete="off" required>
					<div class="invalid-feedback">
						This field is required.
					</div>
				
				</div>

				<div class="form-group">
					<label>
						<strong>Course</strong>
						<span class="import-font-primary">*</span> 
					</label>
					<select class="form-control" name="course" id="select_course">
						{% for course in courses %}
						  <option value="{{course.pk}}"
						  {% if course == select_course or course == edit.lesson.course or forloop.counter0 == 0 and not edit_lesson.course and not select_course %}selected{%endif%}>{{course.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div class="form-group">
					<label>
						<strong>Related Lessons</strong> 
					</label>
					<select class="form-control" name="related" id="select_related">
						<option value="" selected>None</option>
						{% if rel_lessons.count > 0 %}
							{% for less in rel_lessons %}
							  	<option value="{{less.pk}}">{{less.name}}</option>
							{% endfor %}
						{% endif %}
					</select>
				</div>
			</div>
			<div class="col-lg-6">
					<div class="d-flex flex-wrap flex-column align-items-start">
						<div class="form-group">
							<div class="d-flex mr-2">
								<label class="my-auto ml-auto mr-0 font-weight-bold">Extra Lesson?</label>

								<span class="my-auto d-none position-absolute extra-val">
									<input type="checkbox" name="lesson_extra" value="extra">
								</span>

								<i class="material-icons my-auto mr-2 ml-2 togglable {% if edit_lesson.extra %}active-button{% endif %}" onclick="$('.extra-val input').click();">
									check_box{% if not edit_lesson.extra %}_outline_blank{% endif %}
								</i>

								<span class="d-none d-md-block icaption my-auto {% if edit_lesson.extra %}active-button{% endif %}">
									{% if edit_lesson.extra %}On{% else %}Off{% endif %}
								</span>
							</div>
						</div>

						<div class="form-group">
							<div class="d-flex">
								<label class="my-auto ml-auto mr-0 font-weight-bold">Lab Lesson?</label>

								<span class="my-auto d-none position-absolute lab-val">
									<input type="checkbox" name="lesson_lab" value="lab">
								</span>

								<i class="material-icons my-auto mr-2 ml-2 togglable {% if edit_lesson.lab_lesson %}active-button{% endif %}" onclick="$('.lab-val input').click();">
									check_box{% if not edit_lesson.lab_lesson %}_outline_blank{% endif %}
								</i>

								<span class="d-none d-md-block icaption my-auto {% if edit_lesson.lab_lesson %}active-button{% endif %}">
									{% if edit_lesson.lab_lesson %}On{% else %}Off{% endif %}
								</span>
							</div>
						</div>

						<div class="form-group">
							<div class="d-flex my-auto">
								<label class="my-auto ml-auto mr-0 font-weight-bold">Verified Status</label>

								<span class="my-auto d-none position-absolute verified-val">
									<input type="checkbox" name="lesson_verified" value="verified">
								</span>

								<i class="material-icons my-auto mr-2 ml-2 togglable {% if edit_lesson.verified %}active-button{% endif %}" onclick="$('.verified-val input').click();">
									check_box{% if not edit_lesson.verified %}_outline_blank{% endif %}
								</i>

								<span class="d-none d-md-block icaption my-auto {% if edit_lesson.verified %}active-button{% endif %}">
									{% if edit_lesson.verified %}On{% else %}Off{% endif %}
								</span>
							</div>
						</div>
					</div>

					<div class="my-auto">
						<label>
							<strong>Verified By:</strong> 
						</label>
						<input class="form-control pr-5 mx-0" type="text" name="verifiedby" value="{{edit_lesson.verifier}}" autocomplete="off">
					</div>

			</div>
		</div>

		
	
	</form>

	<div>
		{% if title == "Add Lesson" %}
			<p> You can create questions for the lessons after submitting the form. </p>
		{% else %}
			<div class="d-flex justify-content-between">
				<h4 class="font-weight-bold">Questions</h4>

				<a href="#" data-toggle="modal" data-target="#importModal">
					<button type="button" class="btn btn-light px-3 d-flex">
						<div class="my-auto d-flex">
							<i class="material-icons">
								add
							</i>
							<span class="my-auto ml-1 d-none d-md-block">
								Add Question
							</span>	
						</div>
					</button>
				</a>
			</div>

			<div class="questions d-flex mt-3">
				{% if edit_lesson.question_set.count == 0 %}
					<div class="mx-auto d-flex text-muted"> 
						<i class="material-icons my-auto ml-0 mr-2">
							question_answer
						</i>
						<span class="my-auto">No questions available to show</span>
					</div>
				{% else %}
					{% for question in edit_lesson.question_set.all %}
						{% include 'reviewer/admin/courses/lessons/questions/questions_partial.html' %}
					{% endfor %}
				{% endif %}
			</div>
		{% endif %}
	</div>
</div>

<hr>

<div class="float-right">
	<button class="btn btn-primary d-inline-flex" type="submit" form="lessons-form">
		<i class="material-icons my-auto material-icon-sm mr-lg-2">
			save
		</i>
		<span class="my-auto d-none d-lg-block">Save</span>
	</button>
</div>