Django
django-widget-tweaks
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
Pillow
psycopg2
setuptools>=40.3.0
gunicorn
django-heroku
whitenoise
whitenoise[brotli]
django-htmlmin
uvicorn