{% load static %}

{% with request.resolver_match.view_name as view_name %}
<article class="py-4 px-4 d-flex {% if view_name != 'course' and view_name != 'coursecpage' and forloop.counter0 == 0  %} my-3 {% else %} mb-3 {% endif %} comment" data-comment-id="comment-{{comment.base.id}}" data-code="{{comment.base.course_attr.code|lower}}" data-number="{{comment.base.course_attr.number}}">

	{% if comment.base.user_attr != user or view_name == 'course' %}
	<a href="{% url 'user' comment.base.user_attr.username %}">{% endif %}
		<div>
			<img class="user-pic-thumb" src="{% if comment.base.user_attr.prof_picID %}
			https://drive.google.com/uc?export=view&id={{comment.base.user_attr.prof_picID | urlencode }}
			{% else %}
				{% static 'reviewer/images/default_profile.png' %}
			{% endif %}
			">
		</div>
	{% if comment.base.user_attr != user  or view_name == 'course' %}
	</a>
	{% endif %}
	
	<div class="ml-4 w-100">
		<div class="w-100">
			<div class="d-flex w-100 justify-content-between">
				<span class="d-inline-flex">
					<strong class="comment-username my-auto">
						{% if comment.base.user_attr != user or view_name == 'course' %}
							<a href="{% url 'user' comment.base.user_attr.username %}" class="comment-username">
						{% endif %}
								{{comment.base.user_attr.username}}
						{% if comment.base.user_attr != user or view_name == 'course' %}
							</a>
						{% endif %}
					</strong> 
					{% if view_name != 'course' and view_name != 'coursecpage' %}
						<a class="text-muted user-comment-course-link my-auto d-flex" href="{% url 'course' comment.base.course_attr.code|lower comment.base.course_attr.number  %}" >
							<small class="d-inline-flex my-auto align-items-center">
								<i class="material-icons mx-1 material-icon-x-sm">arrow_forward</i>
								<span>{{comment.base.course_attr.name}}</span>
							</small>
						</a>
					{% endif %}
				</span>
				<div class="float-right" style="height:0">
					<div class="position-relative py-1 px-2 comment-action d-flex">
						<div class="d-inline-flex ml-auto my-auto">
							<span class="mr-3 my-auto d-flex">
								<i class="material-icons material-icon-sm{% if user.is_authenticated %} comment-like{%endif%}{% if comment.liked %} liked{%endif%}">
									star{% if not comment.liked %}_border{%endif%}
								</i> 
								<div class="my-auto ml-1 mr-2 comment-like-count inline-block">
									{{ comment.base.likes_set.all.count }}
								</div>
								{% if user == comment.base.user_attr %}
									<i class="material-icons  material-icon-sm comment-delete" title="Delete comment">delete</i>
								{% endif %}
							</span>
							<small class="my-auto">{{comment.base.date_posted|date:"M d, Y, h:i A"}}</small>
						</div>
					</div>
				</div>
			</div>
			<div class="comment-body mt-1">
				{{comment.proc|safe|linebreaks}}
			</div>
		</div>
		{% if comment.base.image %}
			<img class="mt-3 d-block comment-image" src="{{comment.base.image.url}}">
		{% else %}
		<div class="w-100">
			{{comment.media|safe}}
		</div>
		{% endif %}
	
	</div>
</article>
			
{% endwith %}