<header class="d-flex navbar w-100 import-header position-fixed py-3">
	<div class="container d-flex justify-content-between">
		<a href="{% url 'index'%}" class="import-logo">
			<div class="noselect">
				<h2 class="h2" style="font-weight: 900;">import <span class="import-font-primary"><sup>*</sup></span></h2>
			</div>
		</a>
		<nav class="d-flex">
			<span class="mx-3 my-auto d-none d-lg-block"><a href="{% url 'courselist' %}">Courses</a></span>
			{% if user.is_authenticated %}
				<span class="mx-3 my-auto d-none d-lg-block"><a href="{% url 'user' user.username %}"><img class="user-pic mr-1" src="{{user.prof_pic.url}}"> {{user.username}}</a></span>
			{% else %}
				<span class="mx-3 my-auto d-none d-lg-block"><a href="{% url 'login' %}">Login</a></span>
			{% endif %}
			<i class="material-icons mx-3 mr-lg-0">search</i>
			<i class="material-icons my-auto d-block d-lg-none">menu</i>
		</nav>
	</div>
</header>