{% load static %}
<header class="d-flex navbar import-header position-fixed py-3">
	<div class="container d-flex justify-content-between py-2">
		<a href="{% url 'index'%}" class="import-logo">
			<div class="noselect">
				<h2 class="h2 mb-0" ><strong>import <span class="import-font-primary"><sup>*</sup></span></strong></h2>
			</div>
		</a>
		<nav class="d-flex">
			<span class="mx-3 my-auto d-none d-lg-block"><a href="{% url 'courselist' %}">Courses</a></span>
			{% if user.is_authenticated %}
				<div class="mx-3 my-auto d-none d-lg-block dropdown header-toggle" >
					<a class="d-flex my-auto dropdown-toggle"  role="button" id="HeaderProfileDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img class="user-pic mr-2 my-auto" src="
						{% if user.prof_pic %}
							{{user.prof_pic.url}}
						{% else %}
							{% static 'reviewer/images/default_profile.png' %}
						{% endif %}

						">
						<span class="my-auto">{{user.username}}</span>
					</a>
					<div class="dropdown-menu mt-1 dropdown-menu-right" aria-labelledby="HeaderProfileDrop">
						<a class="dropdown-item d-inline-flex justify-content-start px-4" href="{% url 'user' user.username %}">
							<i class="material-icons material-icon-sm my-auto ml-0 mr-2">
							account_circle
							</i>
							<span class="my-auto">Go to Profile</span>
						</a>
						<a class="dropdown-item d-inline-flex justify-content-start px-4" href="{% url 'user_settings' %}">
							<i class="material-icons material-icon-sm my-auto ml-0 mr-2">
							settings
							</i>
							<span class="my-auto">Profile Settings</span>
						</a>
						{% if user.is_superuser %}
							<div class="dropdown-divider"></div>
							<a class="dropdown-item d-inline-flex justify-content-start px-4" href="{% url 'admin' %}">
								<i class="material-icons material-icon-sm my-auto ml-0 mr-2">
								assessment
								</i>
								<span class="my-auto">Admin Dashboard</span>
							</a> 
						{% endif %}
						<div class="dropdown-divider"></div>
						<a class="dropdown-item d-inline-flex justify-content-start px-4" href="{% url 'logout' %}">
							<i class="material-icons material-icon-sm my-auto ml-0 mr-2">
							exit_to_app
							</i>
							<span class="my-auto">Logout</span>
						</a>
					</div>
				</div>

			{% else %}
				<span class="mx-3 my-auto d-none d-lg-block"><a href="{% url 'login' %}">Login</a></span>
			{% endif %}
			<i class="material-icons mx-3 mr-lg-0 my-auto">search</i>
			<i class="material-icons my-auto d-block d-lg-none">menu</i>
		</nav>
	</div>
</header>