{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}-{% endblock %} | Import *</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta charset="utf-8">
		<meta name="application-name" content="Import *">
		<meta name="description" content="Your CS Life debugged.">
		<meta name="keywords" content="cs, network, import, star, esc">
		<meta name="color-scheme" content="{% if user.dark_mode %}dark light{% else %}light dark{% endif%}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		{% include 'reviewer/partials/favicon.html' %}
		<link rel="stylesheet" href="{% static 'reviewer/css/bootstrap.min.css' %}">
	 	<link rel="stylesheet" href="{% static 'reviewer/css/katex.min.css' %}">
	  	<link href="{% static 'reviewer/css/import.css' %}" rel="stylesheet"/>
	  	<link href="{% static 'reviewer/css/import.less' %}" type="text/css" rel="stylesheet/less" data-env="{% if debug %}development{% else %}production{% endif %}" />
	  	{% if user.dark_mode or force_dark_mode %}
	  		<link id="dark_mode_less" href="{% static 'reviewer/css/import_dark.less' %}" type="text/css" rel="stylesheet/less" data-env="{% if debug %}development{% else %}production{% endif %}" />
	  	{% endif %}
	  	<script id="lessjs" src="{% static 'reviewer/js/less.min.js'%}" type="text/javascript"></script>
	  	{% block styles %}
	  	{% endblock %}
	</head>
	<body>
		{% block loader %}
			<div class="position-fixed w-100 h-100 loader-screen" onabort="$('.loader-screen').fadeOut()">
				<div class="loader-overlay position-absolute">
				</div>
				<div class="loader-content w-100 h-100  d-flex">
					<div class="m-auto d-flex flex-column p-3 loader-container" >
						<div class="loader spin mx-2 mt-0 mb-3"></div>
						<div class="loader-status text-center text-capitalized" style="color: white;">
							Working...
						</div>
					</div>
				</div>
			</div>

		{% endblock %}

		<div class="site-container w-100 d-flex flex-column">
			{% include 'reviewer/partials/header.html' %}
			<div class="site-content my-auto">
				{% block content %}
				{% endblock %}
			</div>
			{% block footer %}
				{% include 'reviewer/partials/footer.html' %}
			{% endblock %}
		</div>

		{% block modal %}
			<div class="modal fade" id="importModal" tabindex="" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-lg" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="importModalLabel"></h5>
			        <button type="button" class="close d-flex" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true" class="my-auto">
			          	<i class="material-icons mt-1">
							clear
						</i>
			          </span>
			        </button>
			      </div>
			      <div class="modal-body px-3">
			      
			      </div>
			    </div>
			  </div>
			</div>
		{% endblock %}
		<div class="scripts">
			<script src="{% static 'reviewer/js/jquery-3.4.1.min.js' %}"></script>
			<script src="https://unpkg.com/@popperjs/core@2"></script>
			<script src="{% static 'reviewer/js/bootstrap.min.js' %}"></script>
			<script defer src="{% static 'reviewer/js/katex.min.js' %}"></script>
			<script defer src="{% static 'reviewer/js/auto-render.min.js' %}" onload="renderMathInElement(document.body);"></script>
			<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
			<script src="{% static 'reviewer/js/import_generic.js' %}"></script>
			<script id="debug-script">importApp.debug("{{debug}}")</script>
			{% if user.is_authenticated %}
			{% if not user.email or not user.first_name or not user.last_name %}
			<script>importApp.users.check("{% url 'user_redirect_info' %}");</script>
			{% endif %}
			{% endif %}
			{% block scripts %}
			{% endblock %}
		</div>
	</body>
</html>