{% extends 'reviewer/base.html' %}


{% block title %}
	{{ course_filt.name }}
{% endblock %}

{% block content %}
	<div class="container pt-5">
		<div class="my-5">
			<div class="m-auto d-flex flex-column align-items-start">
				<div class="w-100">
					<div class="mx-3">
						<div class="d-flex justify-content-between">
							<div>
								<h1 class="h1" style="font-weight: 900; font-size: 4.5em">{{ course_filt.code }} <span class="import-font-primary">{{ course_filt.number }}</span></h1>
								<h4 class=" h4 mt-2">{{ course_filt.title }}</h4>
							</div>
							<p><small class="d-flex"><i class="material-icons material-icon-sm mx-2">update</i> Last Updated: {{ course_filt.lastupdated }}</small></p>
						</div>
						<div class="mt-1">
							<p>{{course_filt.description}}</p>
							<small>
								<div class="mb-1">
									<span>Prerequisites:</span>
									<div class="d-inline-flex align-items-start">
										{% if course_filt.prereqs.count > 0 %}
											{% for prereq in course_filt.prereqs.all %}
												{% if forloop.counter != 1 %},{%endif%}
												<a href="{% url 'course' prereq.code|lower prereq.number %}">
													{{ prereq.name }}
												</a>
											{% endfor %}
										{% else %}
											None
										{% endif %}
									</div>
								</div>
								<div>
									<span>Corequisites:</span>
									<div class="d-inline-flex align-items-start">
										{% if course_filt.coreqs.count > 0 %}
											{% for coreq in course_filt.coreqs.all %}
												{% if forloop.counter != 1 %},{%endif%}
												<a href="{% url 'course' coreq.code|lower coreq.number %}">
													{{ coreq.name }}
												</a>
											{% endfor %}
										{% else %}
											None
										{% endif %}
									</div>
								</div>
							</small>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
			  <li class="nav-item">
			    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Lessons</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Comments</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">References</a>
			  </li>
			</ul>
			<div class="tab-content" id="myTabContent">
			  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
			  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

			  		<div class="row mx-0 py-5">
			  			<div class="col-lg-4">
					  		<form class="form-group" enctype="multipart/form-data" method="POST" action="{% url 'course' course_filt.code|lower course_filt.number %}" >
								{% csrf_token %}

								{{ comment_form.as_p }}						

								<input class="btn btn-primary" type="submit" value="Submit">
							</form>
						</div>
						<div class="col-lg-8">
					  		{% for comment in course_comments %}
								<div class="py-4 px-4 d-flex mb-3" style="background-color: white">
									<img class="user-pic" src="{{comment.user_attr.prof_pic.url}}" style="height: 50px;width:50px">
									<div class="ml-4 w-100">
										<div class="d-flex w-100 justify-content-between">
											<span>
												<strong>{{comment.user_attr.username}}</strong> 
											</span>
											<p><small>{{comment.date_posted}}</small></p>
										</div>
										<p>{{comment.body}}</p>
										{% if comment.image %}
											<img class="mt-3 d-block" style="max-height: 320px;max-width:480px" src="{{comment.image.url}}">
										{% endif %}
									
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
			  </div>
			  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
			</div>
		</div>
	</div>
{% endblock %}