{% extends 'reviewer/base.html' %}


{% block title %}
	Home
{% endblock %}

{% block content %}
	<div class="container">
		<div class="d-flex flex-column align-items-center device-full-height">
			<div class="row w-100 my-auto">
				<div class="col-lg-12 d-flex flex-column align-items-center align-items-lg-start my-auto">
					<div class="mb-3 noselect">
						<h1 class="h1 title"><strong>import <span class="import-font-primary star"><sup>*</sup></span></strong></h1>
						<p class="mx-auto h4 mt-2">Your CS life debugged.</p>
					</div>
					<a href="{% url 'courselist' %}" class="">
						<button class="btn btn-primary btn-lg d-flex justify-content-center">

								<span>Get started</span><i class="material-icons my-auto mx-1" style="font-size: 1em">arrow_forward</i>
						</button>
					</a>
				</div>
			</div>
		</div>
		<hr>
		<div class="py-5 d-flex px-5">
			<div class="m-auto px-lg-5">
				<h2 class="font-weight-bold text-center mb-3">About</h2>
				<p>
					<span class="font-weight-bold">import<sup class="import-font-primary">*</sup></span>

					is a web application initiated by the Computer Science Representatives aiming to help computer science students in their academics. Together with the CS Network and the DCS Faculty, blah blah blah math blah blah practice, blah blah by students for students. Duolingo brilliant.org quality educ will finalize script.
				</p>

				<button class="btn btn-primary float-right">See Import* Team</button>
			</div>
		</div>
		<hr>

		<div class="py-5 mb-4">
			<h2 class="font-weight-bold mb-3 text-center">Features</h2>
			
		</div>

		<hr>

		<div class="py-5 mb-4">
			<h2 class="font-weight-bold mb-3 text-center">Announcements</h2>
			{% if announcements.count == 0 %}
				<p class="text-muted text-center d-inline-flex"><i class="material-icons mr-2 my-auto">announcement</i>
					<span class="my-auto">No announcements to show</span></p>
			{% else %}
				<div class="row">
					{% for announcement in announcements %}
						<div class="col-lg-4 col-md-6 d-flex p-3">
							<div class="m-auto layer-container w-100">
								<a href="{% url 'announcement_view' announcement.id %}" class="comment-username w-100 announcement-card">
									<div class="mx-0 layer-container d-flex announcement-image" {% if announcement.imageID %} style="background-image: url('https://drive.google.com/uc?export=view&id={{announcement.imageID | urlencode }}');" {% endif %} >

										{% if not announcement.imageID %}
											<div class="m-auto text-center">
												<span class="font-weight-bold h1">import<sup class="import-font-primary">*</sup></span>
												<span class="h6 text-right text-muted d-none d-md-block">ANNOUNCEMENTS</span>
											</div>
										{% endif %}

									</div>

									<div class="d-flex">
										<div class="p-4 my-auto">
											<h5 class="announcement-title font-weight-bold">
												{{ announcement.title }}
											</h5>
											<small>{{announcement.datepost|date:"M d, Y, h:i A"}}</small>
										</div>
										<div class="ml-auto d-flex mr-4">
											<button class="btn btn-primary m-auto d-flex p-2">

												<span class="material-icons m-auto">
													arrow_forward
												</span>

											</button>
										</div>
									</div>


								</a>
							</div>
						</div>
					{% endfor %}
				</div>


				{% if announcements.count >= 3 %}
				<a href="{% url 'announcements' %}">
					<button class="btn btn-primary float-right d-flex">
						<span class="my-auto">See All Announcements</span> 
						<i class="material-icons my-auto mx-1" style="font-size: 1em">arrow_forward</i>
					</button>
				</a>
				{% endif %}

			{% endif %}
		</div>

		<hr>

		<div class="py-5 mb-4">
			<h2 class="font-weight-bold mb-3 text-center">Code</h2>
			
			<div class="row">
				<div class="col-lg-6">
					Import* Open Source
				</div>
				<div class="col-lg-6">
					<a href="#">
						<button class="btn btn-primary float-right d-flex">
							<span class="my-auto">See @ Github</span> 
							<i class="material-icons my-auto mx-1" style="font-size: 1em">arrow_forward</i>
						</button>
					</a>
				</div>
			</div>
		</div>

		<hr>

		<div class="py-5 mb-4">
			<h2 class="font-weight-bold mb-3 text-center">Partners</h2>
		</div>

	</div>


{% endblock %}

{% block scripts %}

	
{% endblock %}