{% extends 'reviewer/base.html' %}


{% block title %}
	Home
{% endblock %}

{% block content %}
	<div class="container">
		<div class="d-flex flex-column align-items-center device-full-height">
			<div class="row w-100 my-auto">
				<div class="col-lg-6 d-flex">
					<div class="m-auto d-flex border-dashed" style="height: 15rem; width: 15rem; border-radius: 100%; border: 4px dashed #ff9172;">
						<i class="material-icons m-auto" style="font-size: 100px">
						add
						</i>
					</div>
				</div>
				<div class="col-lg-6 d-flex flex-column align-items-center align-items-lg-start my-auto">
					<div class="mb-3 noselect">
						<h1 class="h1 title"><strong>import <span class="import-font-primary star"><sup>*</sup></span></strong></h1>
						<p class="mx-auto h4 my-2">Your CS life debugged.</p>
					</div>
					<a href="{% url 'courselist' %}">
						<button class="btn btn-primary d-flex justify-content-center">

								<span>Get started</span><i class="material-icons my-auto mx-1" style="font-size: 1em">arrow_forward</i>
						</button>
					</a>
				</div>
			</div>
		</div>
		<hr>
		<div class="py-5">
			<h2>About</h2>
			
		</div>
		<hr>

		<div class="py-5">
			<h2>Announcements</h2>
			{% if ann_len == 0 %}
				<p>No announcements to show</p>
			{% else %}
				{% for announcement in announcements %}
					<hr>
					<h3> {{ announcement.title }}</h3>
					<p>	{{ announcement.body }}	</p>
				{% endfor %}
			{% endif %}
		</div>
	</div>

{% endblock %}