{% extends 'reviewer/base.html' %}


{% block title %}
	{{user_filt.username}}
{% endblock %}

{% load static %}
{% block content %}
	<div class="container py-5">
		<div class="pt-5">
			<h1>
				<i class="material-icons my-auto">
					settings
				</i>
				Settings
			</h1>
			<div class="info">
				<h6>Username</h6>
				<p>{{user.username}}</p>

				<h6>Password Data</h6>
				<p>{{user.password}}</p>
				<button>Change Password</button>

				<h6>Favorite Language</h6>
				<p>{{user.fave_lang}}</p>

				<h6>First Name</h6>
				<p>{{user.first_name}}</p>

				<h6>Last Name</h6>
				<p>{{user.last_name}}</p>

				<h6>Suffix</h6>
				<p>{{user.suffix}}</p>

				<h6>Student Number</h6>
				<p>{{user.studentnum}}</p>
				<p>{{user.show_studentnum}}</p>

				<h6>E-mail</h6>
				<p>{{user.email}}</p>
				<p>{{user.show_email}}</p>

				<h6>Course</h6>
				<p>{{user.course}}</p>

				<h6>Dark Mode</h6>
				<p>{{user.dark_mode}}</p>

				<h6>E-mail Notifications</h6>
				<p>{{user.notifications}}</p>
			</div>
		</div>
	</div>


{% endblock %}

{% block scripts %}


{% endblock %}