{% load static %}
<div class="m-3 m-lg-2 d-flex py-3 col-lg-8 ml-lg-auto">
	<div class="mx-auto page-count-parent my-auto">
			
			{% if page_count > 1 %}

				{% if cpage > 1 %} <a href="{% url 'course' course_filt.code|lower course_filt.number %}c/1"  {% if cpage <= 1 %} class="-disabled" {%endif%}  >{% endif %}
					<button class="btn btn-sm btn-light d-inline-flex p-1" {% if cpage <= 1 %} disabled {%endif%}>
	  				<i class="material-icons material-icon-sm my-auto">
						first_page
					</i>
	  			</button>
	  		{% if cpage > 1 %}</a>{%endif%}

	  		{% if cpage > 1 %}<a href="{% url 'course' course_filt.code|lower course_filt.number %}c/{{prev_page}}">{% endif %}
					<button class="btn btn-sm btn-light d-inline-flex p-1"  {% if cpage <= 1 %} disabled {%endif%}>
	  				<i class="material-icons material-icon-sm my-auto">
						chevron_left
					</i>
	  			</button>
	  		</a>

	  		<span class="mx-3 font-weight-bold">Page {{cpage}}</span>

	  		{% if cpage < page_count %}
		  		<a href="{% url 'course' course_filt.code|lower course_filt.number %}c/{{next_page}}"> {%endif%}
  					<button class="btn btn-sm btn-light d-inline-flex p-1" {% if cpage >= page_count %} disabled {%endif%}>
		  				<i class="material-icons material-icon-sm my-auto">
							chevron_right
						</i>
		  			</button>
		  	{% if cpage < page_count %}	</a> {%endif%}
	  				
		  	{% if cpage < page_count %}	<a href="{% url 'course' course_filt.code|lower course_filt.number %}c/{{page_count}}"> {%endif%}
  					<button class="btn btn-sm btn-light d-inline-flex p-1" {% if cpage >= page_count %} disabled {%endif%}>
		  				<i class="material-icons material-icon-sm my-auto">
							last_page
						</i>
		  			</button>
		  	{% if cpage < page_count %}
		  		</a>
		  	{% endif %}
		 {% endif %}
				
	</div>
</div>


<div class="row mx-0 pb-4">

	<div class="col-lg-4">
  		<form class="form-group comment-form pb-5" enctype="multipart/form-data" method="POST" action="{% url 'course' course_filt.code|lower course_filt.number %}c/{{cpage}}/" id="{{comment_form.auto_id}}">
			{% csrf_token %}

			{{ comment_form.body }}

			<div class="my-3 comment-image-upload d-none position-absolute">
				{{ comment_form.image }}
			</div>

			<div class="d-flex my-3">
				<button class="mr-auto border-dashed import-image-drag {% if user.is_authenticated %}import-image-drag-enabled{%else%}-disabled{%endif%}" data-file-target="comment-image-upload" style="border-width: 1px" type="button">
					{% if user.is_authenticated %}
						<div class="addphoto-popper ml-2 p-3">
							Add a photo
						</div>
					{% endif %}
					<i class="material-icons p-3">
						add_a_photo
					</i>
				</button>


				<div class="ml-auto my-auto">
					<button type="submit" form="{{comment_form.auto_id}}" class="btn btn-primary {% if user.is_anonymous %} -disabled {% endif %} course-comment-submit d-flex" >
						<div class="my-auto d-flex">
							<span class="my-auto mr-1">
							Submit</span>	
							<i class="material-icons my-auto material-icon-sm">
							send
							</i>
						</div>
					</button>
				</div>
			</div>
		</form>
	</div>
	<div class="comments col-lg-8 course-comments">
		{% if course_comments.count == 0 %}
			<p class="d-inline-flex">
				<i class="material-icons my-auto">comment</i>
				<span class="my-auto mx-3">
					{% if user.is_authenticated %}
						Be the first to comment!
					{% else %}
						There are no comments to display.
					{% endif %}
				</span>
			</p>
		{% else %}
	  		{% for comment in course_comments %}
				{% include 'reviewer/partials/comment.html' %}
			{% endfor %}
		{% endif %}
	</div>
</div>
