{% load static %}
<div class="m-3 m-lg-2 d-flex py-3 col-lg-8 ml-lg-auto">
	<nav class="mx-auto page-count-parent my-auto">
		{% include 'reviewer/partials/course/course-comments-pagination.html' %}
	</nav>
</div>


<div class="row mx-0 pb-4">

	<section class="col-lg-4">
  		<form class="form-group comment-form pb-5" enctype="multipart/form-data" method="POST" action="{% url 'course' course_filt.code|lower course_filt.number %}c/{{commentpage.current}}/" id="{{course_comments.form.auto_id}}">
			{% csrf_token %}

			{{ course_comments.form.body }}

			<div class="my-3 comment-image-upload d-none position-absolute">
				{{ course_comments.form.image }}
			</div>

			<div class="d-flex my-3">
				<button class="mr-auto border-dashed import-image-drag {% if user.is_authenticated %}import-image-drag-enabled{%else%}-disabled{%endif%}" data-file-target="comment-image-upload" style="border-width: 1px" type="button" id="photo_upload" aria-describedby="addphoto-popper">
					{% if user.is_authenticated %}
						<div id="addphoto-popper" class="addphoto-popper p-3 position-absolute" role="tooltip">
							Add a photo
							<div id="arrow" data-popper-arrow></div>
						</div>
					{% endif %}
					<i class="material-icons p-3">
						add_a_photo
					</i>
				</button>


				<div class="ml-auto my-auto">
					<button type="submit" form="{{course_comments.form.auto_id}}" class="btn btn-primary {% if user.is_anonymous %} -disabled {% endif %} course-comment-submit d-flex" >
						<div class="my-auto d-flex">
							<span class="my-auto mr-1">
							Submit</span>	
							<i class="material-icons my-auto material-icon-sm">
							send
							</i>
						</div>
					</button>
				</div>
			</div>
		</form>
	</section>
	<section class="comments col-lg-8 course-comments">
		{% if course_comments.count == 0 %}
			{% include 'reviewer/partials/course/course-comment-empty.html' %}
		{% else %}
	  		{% for comment in course_comments.content %}
				{% include 'reviewer/partials/comment.html' %}
			{% endfor %}
		{% endif %}
	</section>
</div>
