{% if commentpage.count > 1 %}

	{% if commentpage.current > 1 %}
		<a href="{% url 'course' course_filt.code|lower course_filt.number %}c/1"  {% if commentpage.current <= 1 %} class="-disabled" {%endif%}  >
	{% endif %}
			<button class="btn btn-sm btn-light d-inline-flex p-1"{% if commentpage.current <= 1 %} disabled {%endif%}>
				<i class="material-icons material-icon-sm my-auto">
					first_page
				</i>
			</button>
	{% if commentpage.current > 1 %}
		</a>
		<a href="{% url 'course' course_filt.code|lower course_filt.number %}c/{{commentpage.prev}}">
	{% endif %}
			<button class="btn btn-sm btn-light d-inline-flex p-1"  {% if commentpage.current <= 1 %} disabled {%endif%}>
				<i class="material-icons material-icon-sm my-auto">
					chevron_left
				</i>
			</button>
	{% if commentpage.current > 1 %}
		</a>
	{% endif %}

	<span class="mx-3 font-weight-bold">Page {{commentpage.current}}</span>

	{% if commentpage.current < commentpage.count %}
		<a href="{% url 'course' course_filt.code|lower course_filt.number %}c/{{commentpage.next}}">
	{% endif %}
			<button class="btn btn-sm btn-light d-inline-flex p-1" {% if commentpage.current >= commentpage.count %} disabled {%endif%}>
				<i class="material-icons material-icon-sm my-auto">
					chevron_right
				</i>
			</button>
	{% if commentpage.current < commentpage.count %}
		</a>
		<a href="{% url 'course' course_filt.code|lower course_filt.number %}c/{{commentpage.count}}">
	{% endif %}
			<button class="btn btn-sm btn-light d-inline-flex p-1" {% if commentpage.current >= commentpage.count %} disabled {%endif%}>
					<i class="material-icons material-icon-sm my-auto">
						last_page
					</i>
			</button>
	{% if commentpage.current < commentpage.count %}
		</a>
	{% endif %}

{% endif %}