/* Variables */

@BackgroundColor: #2f2f2f;
@TextColor: #fcfcfc;

/* Dark CSS */

body{
	background-color: @BackgroundColor;
	color: @TextColor;
}

hr{
	border-color: #666;
}

a:hover {
	color: @TextColor;
	opacity: 0.75
}

.import-header a{
	color: @TextColor !important;
}

.comment-image-drag-enabled:hover .addphoto-popper{
	color: @TextColor !important;
}

.comment{
	background: #111;
}

.comment-username{
	color:@TextColor;
}

.comment-image-drag-enabled:hover .addphoto-popper{
	background-color: #1d1d1d;
}

.btn:hover{
	color: @TextColor
}

.link-ico{
	color: @TextColor !important;
}