/* Variables */

@BackgroundColor: #fbfbfb;
@TextColor: #2f2f2f;
@ImportPink: #f66374;
@ImportYellow: #f8ef60;
@ImportFont: "Avenir";
@TransTime: 0.15s ease-in-out;


/* Font Faces */
@import url("../fonts/Avenir/avenir-font.css");
@import url("../fonts/material/material-icons.css");


/* Main CSS */

*:focus{
	outline: none !important;
}

html{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body{
	background-color: @BackgroundColor;
	color: @TextColor;
	font-family: @ImportFont;
}


/* CSS ID and Classes */

.site-container{
	height: 100vh;
}

.site-content{
	min-height: 80vh;
}

.container{
	transition: @TransTime;
}

.import-bg-pink{
	background-color: @ImportPink;
}

.import-bg-yellow{
	background-color: @ImportYellow;
}

.import-font-pink{
	color:	@ImportPink;
}

.import-font-yellow{
	color: @ImportYellow;
}

.btn-primary{
	background-color: @ImportPink;
}

.btn-secondary{
	background-color: @ImportYellow;
}

/* Screen Sizes */

@media only screen and (min-width: 2560px) and (max-width: 4000px)  {
    .container-fluid, .container{
    	max-width: 1440px !important;
    }

}