/* Variables */

@BackgroundColor: #2f2f2f;
@TextColor: #fcfcfc;
@HeaderScroll: #282828;

/* Dark CSS */

html{
	background-color: @HeaderScroll;
}

body{
	background-color: @BackgroundColor;
	color: @TextColor;
}

hr{
	border-color: #666;
}

a:hover {
	color: @TextColor;
	opacity: 0.75
}

.import-header .import-logo{
	color: @TextColor !important;
}

.import-header a{
	color: @TextColor !important;
}

.import-image-drag-enabled:hover .addphoto-popper{
	color: @TextColor !important;
}

.comment{
	background: #212121;
}

.comment-username{
	color:@TextColor;
}

.import-image-drag-enabled:hover .addphoto-popper{
	background-color: #1d1d1d;
}

.btn:hover{
	color: @TextColor
}

.link-ico{
	color: @TextColor !important;
}

.import-header-scrolled{
	background: @HeaderScroll;
	border-bottom: 1px solid #272727;
}

footer{
	background: @HeaderScroll;
	border-top: 1px solid #272727;
}

.form-control{
	background-color: #212121;
	border-color: #1c1c1c;
	color: #dedede;
}

.form-control:focus{
	background-color: #202020;
	border-color: #1c1c1c;
	color: #dedede;
}

.lang-badge{
	background-color: @HeaderScroll;
	border: 0.45em solid @HeaderScroll;
}