
/* Font Faces */
@import url("../fonts/spacegrotesk/spacegrotesk.css");
@import url("../fonts/material/material-icons.css");

/* Main CSS */

*:focus, input:focus{
	outline: none !important;
	box-shadow: none !impfortant;
}


a:hover{
	color: initial;
	text-decoration: none;
}

html{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body{
	font-size: 1rem;
}


/* CSS ID and Classes */

.noselect, i {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


.site-container{
	min-height: 100vh;
	width: 100vw;
}


.site-content{
	min-height: 93vh;
}

.device-full-height{
	min-height: 100vh;
}


.material-icons{
	margin: 0 auto;
}

.material-icon-sm{
	font-size: 1.16rem !important;
}

.material-icon-x-sm{
	font-size: 0.85rem !important;
}

.btn{
	border-radius: 30px;
}

.btn:hover, .btn:focus{
	background-color: transparent !important;
}

.btn-danger:hover, .btn-danger:focus {
	color: #dc3545;
}


.form-control{
	border-radius: 1px;
}

/* Navbar */

.import-header{
	z-index: 99997;
	transition: 0.35s ease-in-out;
	border-color: transparent;
	width: 100%;
}

.import-footer{
	z-index: 99996;
}


.import-logo:hover{
	opacity: 0.65;
}


.import-header .user-pic, .announcement-user .user-pic{
	height: 30px;
	width: 30px;
	border: 1px solid transparent;
}

.header-toggle .dropdown-toggle::after{
    margin-left: .5rem;
    top: 0.75rem;
    vertical-align: 0;
    position: relative;
}

.header-toggle .dropdown-menu{
	border-radius: 0;
}

.user-pic{
	height: 200px;
	width: 200px;
	border-radius: 100%
}

.user-pic-thumb{
	height: 50px;
	width: 50px;
	border-radius: 100%;
	align-self: start;
}

.user-comments, .liked-comments{
	overflow-y: scroll;
	overflow-x: hidden;
	overflow-wrap: break-word; 
	height: 550px;
}

.comment{
	position: sticky;
	word-break: break-word;
}

.comments::-webkit-scrollbar {
	width: 8px;
	background: transparent;
}

.comments::-webkit-scrollbar-thumb{
	background-color: #efefef;
	border-radius: 1px;
}

.lang-badge-offset{
	top: 150px;
}

.lang-badge{
	border-radius: 100%;
	padding: 0.5em;
	width: 50px;
	height: 50px;
	background-size: 34px;
	background-position: center;
	background-repeat: no-repeat;
}

.prof-pic{
	border-radius: 100%;
}


.prof-pic:hover .prof-pic-edit{
	opacity: 1;
}

.prof-pic:hover .prof-pic-edit-overlay{
	opacity: 0.3;
}

.prof-pic-edit{
	top: 0;
	height: 200px;
	width: 200px;
	border-radius: 100%;
	color: white;
	opacity: 0;
	transition: 0.15s ease-in-out;
	cursor: pointer;
}

.prof-pic-edit-overlay{
	background: black;
}


.nav-tabs .nav-link{
	border-bottom: 0 solid transparent;
}

.comment-body p{
	margin-bottom: 0.5rem;
}

.comment-image{
	max-height: 320px;
	max-width:480px;
}

.comment-form textarea{
	height: 100px;
	resize: none;
}

.comment-form .comment-image-upload{
	z-index: -2;
}

.title{
	font-size: 4.5rem;
}

.comment{
	background-color: white;
	transition: 2.1s ease-out;
}

.the-new-comment{
	background-color: #ffffcc;
}

.-disabled{
	opacity: 0.5;
	pointer-events: none;
	cursor: default;
}

.info-help{
	cursor: help;
}

.active-visible{
	opacity: 0;
	transition: 0.15s;
}


.active .active-visible{
	opacity: 1;
}

.comment-action{
	bottom: 2em;
	right: -1.5em;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 3px;
	background-color: #f8f8f8;
}

.comment-delete, .comment-reply,.comment-like, .togglable, .header-toggle, .pointer-cursor{
	cursor: pointer;
	align-self: center;
}

.comment-delete:hover , .comment-reply:hover, .comment-like:hover {
	opacity: 0.65;
}

.comment-delete:active , .comment-reply:active, .comment-like:active {
	font-size: 1.2rem !important;
	transition: 0.1s ease-in-out;
}

.comment-delete:focus , .comment-reply:focus, .comment-like:focus, .comment-delete:active , .comment-reply:active, .comment-like:active{
	opacity: 1;
}

.comment-like-count{
	width: 0.5rem;
	font-size: 80%;
}

.user-comment-course-link{
	transition: 0.25s ease-in-out;
}

.user-comment-course-link:hover{
	padding-left: 0.1rem;
}

.border-dashed{
	border-style: dashed;
}

.import-image-drag{
	border-color: #999;
	color: #999;
	transition: 0.15s;
	cursor: pointer;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;	
	background-color: transparent;
	padding: 0; 
}

.import-image-uploaded-icon, .addphoto-popper{
	transition: 0.15s ease-out;
	opacity: 0;
	z-index: 0;
}

.import-image-drag-enabled:hover .addphoto-popper[data-show], .import-image-drag-enabled:hover .import-image-uploaded-icon{
	opacity: 1;
	z-index: 1;
}

.import-image-drag-enabled:hover .addphoto-popper[data-show]{
	background-color: #fefefe;

}

.comment-username{
	color: #2f2f2f;
}

.dragging{
	border-width: 1.8px !important;
	transition: 0.15s;
}

.ad-box{
	height: 300px;
	width: 300px;
	background-color: #444;
}


.modal-backdrop{
	z-index: 999998;
}

.modal{
	z-index: 999999; 	
}
.modal-content{
	border: 0;
	border-radius: 0;
}

.link-ico{
	opacity: 0.35;
	font-size: 0.85rem;
}

.import-ex-link:hover{
	opacity: 0.75;
}

.home-header .import-logo{
	opacity: 0;
}

.import-header-scrolled .import-logo{
	opacity: 1;
}



.form-control{
	border-color: #dcdcdc;
	box-shadow: none;
	outline: 0;
}

.modal-open { 
	overflow-y: auto; 
	padding-right: 0 !important;
}

.course-thumb{
	height: 80px; width: 80px; background-color: #444; 
	background-size: cover;
	background-position: center;
}

.togglable, .disabled-color{
	color: #777;
}

.course-bg{
	top:0;
	left: 0;
	position: fixed;
	background-size: cover;
	z-index: -40;
}


.nav-pills .nav-link{
	border-radius: 30px;
}

.nav-pills .nav-link.active{
	font-weight: 500;
}

#quill-editor{
	height: 20rem !important;
	overflow: visible;
}


.import-image-drag.import-image-drag-large{
	width: 400px;
	height:225px;
}

.import-image-drag.import-image-drag-large i{
	font-size: 4rem;
}

.announcement-image{
	width:100%;
	height: 12rem;
	border-bottom: 1px solid #e6e6e6;
}

.announcement-card .btn-primary{
	opacity: 0;
	transition: 0.15s;
}

.announcement-card:hover .btn-primary{
	opacity: 1;
}


.announcement-image{
	background-size: cover;
	background-position: center;
}

.ql-editor p{
	margin-bottom: 0 !important;
}

.loader-screen{
	display: none;
	z-index: 999999;
}

.loader-overlay{
	background-color: black;
	opacity: 0.15;
	transition: 0.15s ease-in-out;
	height: inherit;
	width: inherit;
}

.loader-container{
	background: #232323;position:relative; bottom: 2rem;
}

.loader {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

.loader.failed{
	border-bottom-color: #dc3545;
}


.spin {
  animation: spin 0.65s linear infinite;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: 4;
}

#arrow::before {
  content: '';
  transform: rotate(45deg);
  background: #ffffff;
}

#addphoto-popper[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#addphoto-popper[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#addphoto-popper[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#addphoto-popper[data-popper-placement^='right'] > #arrow {
  left: -4px;
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}