
/* Font Faces */
/*@import url("../fonts/Avenir/avenir-font.css");*/
@import url("../fonts/spacegrotesk/spacegrotesk.css");
@import url("../fonts/material/material-icons.css");

/* Main CSS */

*:focus, input:focus{
	outline: none !important;
	box-shadow: none !important;
}


a:hover{
	color: initial;
	text-decoration: none;
}

html{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body{
	font-size: 1em;
}


/* CSS ID and Classes */

.noselect, i {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


.site-container{
	height: 100vh;
	width: 100vw;
}


.site-content{
	min-height: 93vh;
}

.device-full-height{
	min-height: 100vh;
}


.material-icons{
	margin: 0 auto;
}

.material-icon-sm{
	font-size: 18px !important;
}

.btn{
	border-radius: 30px;
}

.btn:hover, .btn:focus{
	background-color: transparent !important;
}


.form-control{
	border-radius: 1px;
}

/* Navbar */

.import-header{
	z-index: 99997;
	transition: 0.35s ease-in-out;
	border-color: transparent;
	width: 100%;
}


.import-logo:hover{
	opacity: 0.65;
}

.import-header .user-pic{
	height: 30px;
	width: 30px;
}

.user-pic{
	height: 200px;
	width: 200px;
	border-radius: 100%
}

.user-pic-thumb{
	height: 50px;
	width: 50px;
	border-radius: 100%
}

.comments::-webkit-scrollbar {
	width: 8px;
	background: transparent;
}

.comments::-webkit-scrollbar-thumb{
	background-color: #efefef;
	border-radius: 1px;
}

.lang-badge{
	top: 150px;
	background-color: white;
	border-radius: 100%;
	padding: 0.5em;
}

.nav-tabs .nav-link{
	border-bottom: 0 solid transparent;
}

.comment-image{
	max-height: 320px;
	max-width:480px;
}

.comment-form textarea{
	height: 100px;
	resize: none;
}

.comment-form .comment-image-upload{
	z-index: -2;
}

.title{
	font-size: 4.5em;
}

.comment{
	background-color: white;
	transition: 2.1s ease-out;
}

.the-new-comment{
	background-color: #ffffcc;
}

.-disabled{
	opacity: 0.5;
	pointer-events: none;
}

.comment-delete, .comment-reply,.comment-like, .togglable{
	cursor: pointer;
}

.comment-delete:hover , .comment-reply:hover, .comment-like:hover {
	opacity: 0.65;
}

.border-dashed{
	border-style: dashed;
}

.import-image-drag{
	border-color: #999;
	color: #999;
	transition: 0.15s;
	cursor: pointer;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;	
	background-color: transparent;
	padding: 0; 
}

.import-image-uploaded-icon, .addphoto-popper{
	opacity: 0;
	transition: 0.15s;
	z-index: -1;
}

.import-image-drag-enabled:hover .addphoto-popper, .import-image-drag-enabled:hover .import-image-uploaded-icon{
	opacity: 1;
	z-index: 1;
}

.import-image-drag-enabled:hover .addphoto-popper{
	background-color: #fefefe;

}

.comment-username{
	color: #2f2f2f;
}

.dragging{
	border-width: 1.8px !important;
	transition: 0.15s;
}

.ad-box{
	height: 300px;
	width: 300px;
	background-color: #444;
}


.modal-backdrop{
	z-index: 999998;
}

.modal{
	z-index: 999999; 	
}
.modal-content{
	border: 0;
	border-radius: 0;
}

.link-ico{
	opacity: 0.35;
	font-size: 0.85em;
}

.import-ex-link:hover{
	opacity: 0.75;
}

.import-header-scrolled .container{
 
}

.form-control{
	border-color: #dcdcdc;
	box-shadow: none;
	outline: 0;
}

.modal-open { 
	overflow-y: auto; 
	padding-right: 0 !important;
}

.course-thumb{
	height: 80px; width: 80px; background-color: #444; 
	background-size: cover;
	background-position: center;
}

.togglable{
	color: #777;
}

.course-bg{
	top:0;
	left: 0;
	position: fixed;
	background-size: cover;
	z-index: -40;
}