

<p class="codepen" data-height="265" data-theme-id="{% if user.dark_mode %}dark{%else%}light{%endif%}" data-default-tab="js,result" data-user="{{pen_user}}" data-slug-hash="{{pen_slug}}" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/{{pen_user}}/pen/{{pen_slug}}">
  Testing Codepen</a> by {{pen_user}} (<a href="https://codepen.io/{{pen_user}}">{{pen_user}}</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>