{% extends 'reviewer/base.html' %}

{% block title %}
	Building {{question.lesson.name}}
{% endblock %}

{% load static %}
{% block content %}
	<div class="container py-5">
		<div class="pt-5">
			<div class="d-flex justify-content-between">
				<div class="d-flex my-auto">
					<h2 class="my-auto mr-3 font-weight-bold import-font-primary">
						<i class="material-icons">
							build
						</i>
					</h2>
					<div class="d-flex flex-column my-auto">
						<h3 class="my-auto font-weight-bold">
							Building {{question.lesson.name}}
						</h3>
						<small>
							{% if question.qtype == "mulc" %}
								Multiple Choice
							{% elif question.qtype == "iden" %}
								Identification
							{% elif question.qtype == "math" %}
								Math
							{% elif question.qtype == "code" %}
								Code
							{% elif question.qtype == "cust" %}
								Custom
							{% endif %}
						</small>
					</div>
				</div>
				<div class="d-flex flex-wrap my-auto">
					<div class="">
						<button class="btn btn-light d-inline-flex import-code-preview" type="button">
							<i class="material-icons my-auto ml-0 mr-1">
								play_arrow
							</i>
							<span class="my-auto">Preview</span>
						</button>
						<button class="btn btn-primary ml-2 d-inline-flex import-code-preview-save" type="button">
							<i class="material-icons my-auto material-icon-sm ml-0 mr-1">
								save
							</i>
							<span class="my-auto">Save</span>
						</button>
					</div>
				</div>
			</div>
			

			<div class="row">
				<div class="col-lg-6 d-flex mt-4 flex-column">
					<div id="import-code-editor" class="layer-container mx-auto mx-lg-0 w-100">{{import_qcode}}</div>
					<pre class="w-100 p-2 layer-container import-code-console m-0">
					</pre>
				</div>
				<div class="col-lg-6 mt-4">
					{% if question.qtype == "mulc" %}
						<div class="d-flex">
							<div class="mx-auto import-mulchoice w-75">
								<h5 class="font-weight-bold mb-4 import-question"></h5>
								<small>
									<div class="import-choices">
									</div>
								</small>
							</div>
						</div>
					{% elif question.qtype == "iden" %}
						<div class="import-code-iden h-100">
							<div class="h-100 d-flex flex-column">
								<div class="m-auto w-75 d-flex flex-column">
									<h5 class="font-weight-bold text-center import-question"></h5>
									<h6 class="text-center import-subquestion my-2"></h6>
									<input class="form-control my-3 import-code-iden-input" type="text" placeholder="Enter answer here">
									<button class="btn btn-primary mx-auto d-inline-flex import-code-iden-submit" type="button" disabled>
										<span class="my-auto">Check</span>
										<i class="material-icons material-icon-sm my-auto ml-1">
											done
										</i>
									</button>
								</div>
								<div class="import-code-iden-answer">
									<div class="d-flex w-100 import-code-iden-answer-container p-3">
										<div class="p-2 my-auto d-flex import-quiz-statcon noselect">
											<span class="material-icons m-auto material-icon-sm">
												done
											</span>
										</div>
										<div class="my-auto mx-3">
											Your answer is <span class="import-code-iden-stat">STATUS</span>. The correct answer is <span class="import-code-iden-rectans">CORRECTANSWER</span>.
										</div>
									</div>
								</div>
							</div>
						</div>
					{% elif question.qtype == "math" %}
						<div class="d-flex w-100">
							<div class="m-auto d-flex flex-column w-100">
								<h5 class="font-weight-bold mx-auto import-question"></h5>
								<div id="import-ggb-q-latex" class="import-math-subquestion-latex my-2"></div>
								<div id="import-ggb-q" class="import-math-subquestion my-2 d-none position-absolute"></div>
								<div id="import-ggb-element" class="mx-auto"></div> 
								<div class="w-100" style="overflow-x: auto">
									<div id="import-ggb-input" class="w-100 my-3"></div> 
								</div>
							</div>
						</div>
					{% elif question.qtype == "code" %}
						Code
					{% elif question.qtype == "cust" %}
						Custom
					{% endif %}

				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script src="{% static 'reviewer/js/ace/ace.js' %}" type="text/javascript" charset="utf-8"></script>
	{% if question.qtype == "math" %}
		<script src="https://www.geogebra.org/apps/deployggb.js"></script>
	{% endif %}
	<script src="{% static 'reviewer/js/import_lessons.js' %}"></script>
	<script>
		importApp.builder.init("import-code-editor");
		{% if user.dark_mode %}
	    	importApp.builder.editor.setTheme("ace/theme/monokai");
	    {% else %}
	    	importApp.builder.editor.setTheme("ace/theme/eclipse");
	    {% endif %}

		$("body").on("click", ".import-code-preview" , function(e){ 
			e.preventDefault(); 
			importApp.builder.script.load();
			{% if question.qtype == "mulc" %}
				$("#import-script").remove()
			{% endif %}
		});

		$("body").on("click", ".import-code-preview-save" , function(e){ 
			e.preventDefault(); 
			if(importApp.builder.script.load()){
				if (importApp.requests.ajax)
					importApp.requests.ajax.abort();

				importApp.requests.ajax =  $.ajax({
					type: 'post',
					url: window.location.href,
					data: {'code' : importApp.builder.editor.session.getValue() },
					headers: {'X-CSRFToken': importApp.csrfToken },
					success: function (response, status, xhr){
						importApp.urls.redirect(response.redirect_url);
					}
				});
			}
		});

		{% if question.qtype == "mulc" %}
			$("body").on("click", ".import-choice" , function(e){ 
				e.preventDefault();
				let currentq =  importApp.builder.script.qdata.currentq;
				let selected = $(this).find(".import-choice-data").html().trim();
				let answer = importApp.builder.script.qdata.remq[currentq].answer.trim();

				$(".import-choice").each(function(){
					$(this).removeClass("bg-success bg-danger text-light");
					if ($(this).find(".import-choice-data").html().trim() == answer){
						$(this).addClass("bg-success text-light");
					}
					else if ($(this).find(".import-choice-data").html().trim() == selected){
						$(this).addClass("bg-danger text-light");
					}
				});
			});
		{% elif question.qtype == "iden" %}
			$("body").on("keyup", ".import-code-iden-input", function(event){
				importApp.questions.input.allow(this);
			});
			$("body").on("keydown", ".import-code-iden-input", function(event){
				(event.which == 13 || event.keyCode == 13)? $(".import-code-iden-submit").click():importApp.questions.input.allow(this);
			});
		{% elif question.qtype == "math" %}

			var importggb;

			var mathQuestion = new GGBApplet({ 
					"app" : false,
					"appName" : "evaluator",
					"fontSize": 20,
					"width": 400,
					"showLogging": false,
					"errorDialogsActive":false,
					"appletOnLoad":function(api){   
						importApp.questions.given = api;
						importggb = api;
					},
					"preventFocus": true,
				});

			var mathInput = new GGBApplet({ 
					"app" : false,
					"appName" : "evaluator",
					"fontSize": 20,
					"width" : "600",
					"showLogging": false,
					"errorDialogsActive":false,
					"appletOnLoad":function(api){   
						importApp.questions.input = api;
					},
					"preventFocus": true,
				});

			window.addEventListener("load", function() { 
				mathQuestion.inject('import-ggb-q');
				mathInput.inject('import-ggb-input');
			});



		/*
			var ggbApp = new GGBApplet({ 
					"width": 400,
					"height": 300,
					"perspective": "G",
					"showToolBar": false,
					"showAlgebraInput": false,
					"showMenuBar": false,
					"enableRightClick" : false,
					"enableLabelDrags": false,
					"borderColor": false,
					"showLogging": false,
					"appletOnLoad": function(api){
						api.evalCommand('ShowGrid(true)');
					},
					"buttonShadows": false
				}, true);
			window.addEventListener("load", function() { 
				ggbApp.inject('import-ggb-element');
			});
			*/

		{% endif %}
		$("body").on("click", ".import-code-iden-submit", function(event){importApp.questions.input.check();});

	    var Logger = console.log;
		console.log = function(msg) {
		    Logger.apply(this, arguments);
		    if ($(".import-code-console").html() != ""){
		    	$(".import-code-console").append("\n");
		    }

		    if (typeof msg == "string"){
		    	$(".import-code-console").append(msg);
		    }
		    else{
		    	$(".import-code-console").append(JSON.stringify(msg));
		    }
		    
		}

		
	</script>
{% endblock %}