
<div class="mt-3 w-100 lesson-question" data-ID="{{question.id}}">
	<div class="d-flex layer-container p-3">
		<div class="row p-2 w-100">
			<div class="col-9 my-auto">
				<span class="font-weight-bold ml-2">
					{% if question.qtype == "mulc" %}
						Multiple Choice
					{% elif question.qtype == "iden" %}
						Identification
					{% elif question.qtype == "math" %}
						Math
					{% elif question.qtype == "code" %}
						Coding
					{% elif question.qtype == "cust" %}
						Custom
					{% endif %}
				</span>

				{% if question.qtype == "code" %}
					<div class="d-flex mt-2 import-codelang bg-light">
						<div class="my-auto mr-2" style="border: 1px solid #ccc;border-radius:100%; ">
							<div class="lang-badge" style="border-width: 0.2em; height: 35px; width: 35px; background-size: 75%; background-image: url('https://drive.google.com/thumbnail?id={{ question.lang.imageID }}&sz=s100')">
							</div>
						</div>
						<select class="form-control form-control-sm my-auto codelang-select">
							<option value="{{question.lang.id}}" selected>{{question.lang.name}}</option>
							{% for othlang in otherlang.all %}
								<option value="{{othlang.id}}">{{othlang.name}}</option>
							{% endfor%}
						</select>
					</div>
				{% endif %}
			</div>
			<div class="col-3 d-flex px-0 my-auto">
				<div class="d-flex ml-auto my-auto">
					<a class="ml-2 my-auto module-question" href="
						{% if question.qtype == "code" %}
							{% url 'admin_lesson_qcode' question.lesson.id question.lang.name.split|join:"-"|lower 'module' %}
						{% else %}
							{% url 'admin_lesson_q' question.lesson.id 'module' %}
						{% endif %}
					">
						<button  type="button" class="btn btn-light px-2 d-flex">
							<div class="m-auto d-flex">
								<i class="material-icons material-icon-sm" style="transform:rotate(180deg);">
									wb_incandescent
								</i>
							</div>
						</button>
					</a>

					<a class="ml-2 my-auto build-question" href="{% if question.qtype == "code" %}
						{% url 'admin_lesson_qcode' question.lesson.id question.lang.name.split|join:"-"|lower 'build' %}
					{% else %}
						{% url 'admin_lesson_q' question.lesson.id 'build' %}
					{% endif %}">
						<button  type="button" class="btn btn-light px-2 d-flex">
							<div class="m-auto d-flex">
								<i class="material-icons material-icon-sm">
									build
								</i>
							</div>
						</button>
					</a>

					<a class="ml-2 delete-question my-auto" href="
					{% if question.qtype == "code" %}
						{% url 'admin_lesson_qcode' question.lesson.id question.lang.name.split|join:"-"|lower 'delete' %}
					{% else %}
						{% url 'admin_lesson_q' question.lesson.id 'delete' %}
					{% endif %}" data-name="{{course.code}} {{course.number}}">
						<button  type="button" class="btn btn-danger px-2 d-flex">
							<div class="m-auto d-flex">
								<i class="material-icons material-icon-sm">
									delete
								</i>
							</div>
						</button>
					</a>

				</div>
			</div>
		</div>
	</div>
</div>
