
<div class="my-3 w-100 lesson-question" data-ID="{{question.id}}">
	<div class="d-flex layer-container p-3">
		<div class="row p-2 w-100">
			<div class="col-9 my-auto">
				<span class="font-weight-bold ml-2">
					{% if question.qtype == "mulc" %}
						Multiple Choice
					{% elif question.qtype == "iden" %}
						Identification
					{% elif question.qtype == "math" %}
						Math
					{% elif question.qtype == "code" %}
						Code
					{% elif question.qtype == "cust"}
						Custom
					{% endif %}
				</span>

				{% if question.qtype == "code" %}
					<div class="d-flex mt-2">
						<div class="my-auto mr-2" {% if user.fave_lang %} style="border-radius:100%; border: 1px solid #ababab; height: 35px; width: 35px; background-image: url('https://drive.google.com/uc?export=view&id={{user.fave_lang.imageID }}=s220')" {% endif %}>
						</div>
						<select class="form-control form-control-sm my-auto codelang-select" style="width: initial;">
						  <option selected>Select programming language</option>
						  <option value="1">Python</option>
						  <option value="2">C</option>
						  <option value="3">Javascript</option>
						</select>
					</div>
				{% endif %}
			</div>
			<div class="col-3 d-flex px-0 my-auto">
				<div class="d-flex ml-auto my-auto">
					<a class="ml-2 my-auto" href="{% url 'admin_lesson_q' question.lesson.id question.id 'module' %}">
						<button  type="button" class="btn btn-light px-2 d-flex">
							<div class="m-auto d-flex">
								<i class="material-icons material-icon-sm" style="transform:rotate(180deg);">
									wb_incandescent
								</i>
							</div>
						</button>
					</a>

					<a class="ml-2 my-auto" href="{% url 'admin_lesson_q' question.lesson.id question.id 'build' %}">
						<button  type="button" class="btn btn-light px-2 d-flex">
							<div class="m-auto d-flex">
								<i class="material-icons material-icon-sm">
									build
								</i>
							</div>
						</button>
					</a>

					<a class="ml-2 delete-question my-auto" href="{% url 'admin_lesson_q' question.lesson.id question.id 'delete' %}" data-name="{{course.code}} {{course.number}}">
						<button  type="button" class="btn btn-danger px-2 d-flex">
							<div class="m-auto d-flex">
								<i class="material-icons material-icon-sm">
									delete
								</i>
							</div>
						</button>
					</a>

				</div>
			</div>
		</div>
	</div>
</div>
