{% extends 'reviewer/base.html' %}


{% block title %}
	User Settings
{% endblock %}

{% load static %}
{% block content %}
	<div class="container py-5">
		<div class="pt-5">
			<h1>
				<i class="material-icons my-auto import-font-primary">
					settings
				</i>
				<span class="font-weight-bold">Settings</span>
			</h1>


			{% if emptyfields %}
			<div class="alert alert-warning alert-dismissible fade show layer-container my-3 d-flex" role="alert">
				<div class="d-inline-flex my-auto">
					<i class="material-icons import-font-primary my-auto mr-3">
						error_outline
					</i>
					<span class="font-weight-bold my-auto">Please fill the necessary details before proceeding.</span>
				</div>
				 <button type="button" class="close my-auto" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
			</div>
			{% endif %}

			<form class="info mt-3 form-row" action="{% url 'user_settings' %}" method="post">

				{% csrf_token %}

				<div class="col-lg-6 px-3">
					
					<div class="form-group">
						<label><strong>Username</strong> <span class="import-font-primary">*</span></label>
						<div class="input-group">
							<input class="form-control pr-5 username-input" type="text" name="username" value="{{user.username}}" autocomplete="off" required>
							<div class="valid-feedback">
								Username is available. Changing username may take some time.
							</div>
							<div class="invalid-feedback">
								Username is already taken.
							</div>
						</div>
					</div>

					
					<hr>

					<h5 class="mb-3">Personal Information</h5>
					
					<div class="row">
						<div class="form-group col-6">
							<label><strong>First Name</strong> <span class="import-font-primary">*</span> </label>
							<input class="form-control pr-5" type="text" name="first_name" value="{{user.first_name}}" required>
							<div class="invalid-feedback">
								This field is required.
							</div>
						</div>
						<div class="form-group col-6">
							<label><strong>Middle Name</strong></label>
							<input class="form-control pr-5" type="text" name="middle_name" {%if user.middle_name %} value="{{user.middle_name}}" {% endif %}>
						</div>

						<div class="form-group col-6">
							<label><strong>Last Name</strong> <span class="import-font-primary">*</span> </label>
							<input class="form-control pr-5" type="text" name="last_name" value="{{user.last_name}}" required>
							<div class="invalid-feedback">
								This field is required.
							</div>
						</div>


						<div class="form-group col-6">
							<label><strong>Suffix</strong></label>
							<input class="form-control pr-5" type="text" name="suffix" {% if user.suffix %} value="{{user.suffix}}" {% endif %}>
						</div>
					</div>

					<div class="form-group">
						<label><strong>Student Number</strong></label>
						<div class="d-flex">
							<input class="form-control pr-5" type="number" name="studentnum" {% if user.studentnum %} value="{{user.studentnum}}" {% endif %}>
							<div class="invalid-feedback">
								This field is required.
							</div>
							<span class="d-none position-absolute my-auto sn-vis-val">
								<input type="checkbox" name="show_studentnum" value="show" {% if user.show_studentnum %}checked{% endif %}>
							</span>
							<i class="material-icons my-auto togglable ml-3 mr-2 {% if user.show_studentnum %}active-button{% endif %}" onclick="$('.sn-vis-val input').click();">
								visibility{% if not user.show_studentnum %}_off{%endif%}
							</i>

							<span class="icaption my-auto {% if user.show_studentnum %}active-button{% endif %}">
								{% if user.show_studentnum %}
									Shown
								{% else %}
									Hidden
								{% endif %}
							</span>
						</div>
					</div>

					<div class="form-group">
						<label><strong>E-mail</strong> <span class="import-font-primary">*</span> </label>
						<div class="d-flex">
							<input class="form-control pr-5" type="email" name="e-mail" {% if user.email %} value="{{user.email}}" {% endif %} required>
							<div class="invalid-feedback">
								This field is required.
							</div>

							<span class="d-none position-absolute my-auto em-vis-val">
								<input type="checkbox" name="show_email" value="show" {% if user.show_email %}checked{% endif %}>
							</span>
							<i class="material-icons my-auto togglable ml-3 mr-2 {% if user.show_email %}active-button{% endif %}" onclick="$('.em-vis-val input').click();">
								visibility{% if not user.show_email %}_off{%endif%}
							</i>

							<span class="icaption my-auto {% if user.show_email %}active-button{% endif %}">
								{% if user.show_email %}
									Shown
								{% else %}
									Hidden
								{% endif %}
							</span>
						</div>
					</div>

					<div class="form-group">
						<label><strong>Course/Degree Program</strong> <span class="import-font-primary">*</span> </label>
						<div class="d-flex">
							<input class="form-control pr-5" type="text" name="course" {% if user.course %} value="{{user.course}}" {% endif %} required>
							<div class="invalid-feedback">
								This field is required.
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6 px-3">

					<h5 class="mb-3">Preferences</h5>

					
					<div class="form-group">

						<label><strong>Password Data</strong></label>
						<div>
							<small>
								<div class="d-inline-flex flex-column">
									<span class="mr-1"><strong>Algorithm:</strong> {{	userpassword_algo}}</span>
									<span class="mr-1"><strong>Iterations:</strong> {{userpassword_iterations}}</span>
								</div>
								<div class="d-inline-flex flex-column">
									<span class="mr-1"><strong>Salt:</strong> {{userpassword_salt}}</span>
									<span class="mr-1"><strong>Hash:</strong> {{userpassword_hash}}</span>
								</div>
							</small>
						</div>
						<a href="{% url 'password_change' %}" class="my-3 d-block">
							<button class="btn btn-primary btn-sm d-inline-flex px-3" type="button">
								<i class="material-icons material-icon-sm my-auto mr-1">
									settings
								</i>
								<span class="my=auto">Change Password</span>
							</button>
						</a>
					</div>					

					<div class="form-group">

						<label><strong>Favorite Language</strong></label>
						
						<div class="d-flex">
							<div class="lang-badge my-auto" {% if user.fave_lang %} style="background-image: url('{{user.fave_lang.image.url }}')" {% endif %}>
							</div>
							<select class="form-control ml-2 my-auto fave_lang" name="fave_lang">
								<option>None</option>
								{% for language in langlist %}
							  		<option {% if language.name == user.fave_lang.name %} selected="selected" {% endif %}>{{language}}</option>
								{% endfor %}
							</select>
						</div>

					</div>


					<div class="form-group">
						<div class="d-inline-flex">
							<label class="my-auto mr-3"><strong>Dark Mode</strong></label>
							<span class="my-auto d-none position-absolute dark-val">
								<input type="checkbox" name="dark_mode" value="dark" {% if user.dark_mode %}checked{% endif %}>
							</span>

							<i class="material-icons my-auto togglable mr-2 {% if user.dark_mode %}active-button{% endif %}" onclick="$('.dark-val input').click(); DarkModeSwitch();">
								{% if user.dark_mode %}
									brightness_3
								{% else %}
									brightness_5
								{% endif %}
							</i>

							<span class="icaption my-auto {% if user.dark_mode %}active-button{% endif %}">
								{% if user.dark_mode %}
									On
								{% else %}
									Off
								{% endif %}
							</span>
						</div>
					</div>

					<div class="form-group">
						<div class="d-inline-flex">
							<label class="my-auto mr-3"><strong>E-mail Notifications</strong></label>
							<span class="my-auto d-none position-absolute notif-val">
								<input type="checkbox" name="em_notif" value="notif_on" {% if user.notifications %}checked{% endif %}>
							</span>

							<i class="material-icons my-auto togglable mr-2 {% if user.notifications %}active-button{% endif %}" onclick="$('.notif-val input').click();">
								{% if user.notifications %}
									notifications_active
								{% else %}
									notifications_off
								{% endif %}
							</i>

							<span class="icaption my-auto {% if user.notifications %}active-button{% endif %}">
								{% if user.notifications %}
									On
								{% else %}
									Off
								{% endif %}
							</span>
						</div>
					</div>

					<hr>
					<div class="d-flex mt-4">

						<div class="mx-auto">

							<a href="#" >
								<button class="btn btn-danger d-inline-flex" type="button" data-toggle="modal" data-target="#PasswordModalCenter">
									<i class="material-icons my-auto material-icon-sm ">
									delete_forever
									</i>
									<span class="my-auto">Delete account</span>
								</button>
							</a>


							<button class="btn btn-primary d-inline-flex" type="submit">
								<i class="material-icons my-auto material-icon-sm mr-2">
									save
								</i>
								<span class="my-auto">Save changes</span>
							</button>
						</div>
					</div>

				</div>
			</form>

			<div class="modal fade" id="PasswordModalCenter" tabindex="-1" role="dialog" aria-labelledby="PasswordModalCenterTitle" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered" role="document">
			    <div class="modal-content">
			      <div class="modal-header d-flex align-items-center">
			        <h5 class="modal-title d-flex">
			        	<i class="material-icons my-auto import-font-primary mr-2">
							delete_forever
						</i>
			        	<span class="my-auto font-weight-bold">Confirm action</span>
			    	</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			      <form class="p-3" action="{% url 'user_settings' %}?delete=true" method="post">
			      		{% csrf_token %}
				      <div class="modal-body">
				        Please enter your password below.
					    <input class="form-control my-3" type="password" name="password" required>
					   
				      </div>
				      <div class="modal-footer">
				        <button class="btn btn-danger d-inline-flex delete-account" type="submit" >
							<i class="material-icons my-auto material-icon-sm mr-1">
							delete_forever
							</i>
							<span class="my-auto">Delete account</span>
						</button>
				      </div>
				   </form>
			    </div>
			  </div>
			</div>
		</div>
	</div>


{% endblock %}

{% block scripts %}

	<script>


	{% if error %}
	var errors = {{error}}
	{% endif %}
	var darkelement;
	var darkmatters;
	var is_dark = {% if user.dark_mode %}true{% else %}false{%endif%};

	$(document).ready(function(){
		//Initialize
		$("head").children("style").each(function(){
			if ($(this).attr("id") == "less:static-reviewer-css-import_dark"){
  				darkcontent = $(this);
  				darkmatters = $(this).html();
  			}
  		});	

	   if (is_dark == false){
			darkcontent.html("");
		}

		$(".fave_lang").val("{{user.fave_lang.name}}");
	   
	});

	var languagepic = {
		'None' : '',
		{% for language in langlist %}
	  		{% if forloop.counter0 != 0 %},{% endif %} '{{language.name}}' : '{{language.image.url}}' 
		{% endfor %}
	};

	function DarkModeSwitch(){
  	
    	if(is_dark){
    		darkcontent.html("");
    		is_dark = false;
    	}	
    	else{
    		darkcontent.html(darkmatters);
    		is_dark = true;
    	}
    }


	$(".username-input").change(function(){
	  	{% if user.is_authenticated %}

		    // Abort any pending request
		    if (request) {
		        request.abort();
		    }
		    // setup some local variables
		    var unamecheck = $(this).val();


		    // Fire off the request to url
		    request =  $.ajax({
	            type: 'post',
	            url: "{% url 'user_settings' %}?unamecheck=y",
	            data: {'uname': unamecheck},
	            cache: false,
	            headers: {'X-CSRFToken': '{{ csrf_token }}'}
            });

		    
		     
		    // Callback handler that will be called on success
		    request.done(function (response, textStatus, jqXHR){
		    	
		    	if (response.valid == 'y'){
		    		$(".username-input").removeClass("is-invalid");
		    		$(".username-input").addClass("is-valid");
		    	}
		    	else if (response.valid == 'n'){
		    		$(".username-input").addClass("is-invalid");
		    		$(".username-input").removeClass("is-valid");
		    		$(".username-input").parent().find(".invalid-feedback").html("Username already taken.");
		    	}
		    	else if (response.valid == 'e'){
		    		$(".username-input").addClass("is-invalid");
		    		$(".username-input").removeClass("is-valid");
		    		$(".username-input").parent().find(".invalid-feedback").html("Please enter a username.");
		    	}
		    	else if (response.valid == 's'){
		    		$(".username-input").removeClass("is-invalid");
		    		$(".username-input").removeClass("is-valid");
		    	}
		    });
		    

		    // Callback handler that will be called on failure
		    request.fail(function (jqXHR, textStatus, errorThrown){
		        // Log the error to the console
		        console.error(
		            "The following error occurred: "+
		            textStatus, errorThrown
		        );
		    });

    	{% endif %}
	});

	$(".fave_lang").change(function(){
	  	{% if user.is_authenticated %}
	  		$(".lang-badge").css("background-image", "url('" + languagepic[$(this).val()] +"')");
    	{% endif %}
	});

	$(".info").submit(function(){
	  	request.abort();
	});


	$('.delete-account').on('click', function () {
       
	

		//Password check as data then delete account
 		if (request) {
	        request.abort();
	    }

	    /*
 		request = $.ajax({
	        url: "{% url 'user_settings' %}",
	        type: "delete",
	        data: {},
	        headers: {'X-CSRFToken': '{{ csrf_token }}'}
	    });

	    */

	
    });

	
	</script>

{% endblock %}