{% extends 'reviewer/base.html' %}


{% block title %}
	{{user_filt.username}}
{% endblock %}

{% load static %}
{% block content %}
	<div class="container py-5">
		<div class="row pt-5">
			<div class="col-lg-4 d-flex">
				<div class="mr-auto ml-lg-4 ml-auto d-flex flex-column">
					<div class="mx-auto prof-pic" >
						<img class="user-pic" src="
						{% if user_filt.prof_picID %}
							https://drive.google.com/uc?export=view&id={{user_filt.prof_picID | urlencode }}
						{% else %}
							{% static 'reviewer/images/default_profile.png' %}
						{% endif %}
						">

						{% if user.is_authenticated %}
							{% if user.username == user_filt.username %}
								<div class="d-flex position-absolute prof-pic-edit" style="z-index: 5" title="Edit profile picture"> 
									<i class="material-icons m-auto p-0" style="font-size: 70px">
										edit
									</i>
								</div>
								<div class="d-flex position-absolute prof-pic-edit prof-pic-edit-overlay">
								</div>
							{% endif %}
						{% endif %}

						{% if user_filt.fave_lang %}
							<div class="position-absolute" style="top:0">
								<div class="position-relative lang-badge lang-badge-offset" style="background-image: url('https://drive.google.com/thumbnail?id={{user_filt.fave_lang.imageID}}');">
								</div>
							</div>
						{% endif %}
					</div>

					{% if user.is_authenticated %}
						{% if user.username == user_filt.username %}
							<form action="{% url 'user' user_filt.username %}" method="post" enctype="multipart/form-data" class="d-none position-absolute" id="user-pic-form">
									{% csrf_token %}    
								    <input type="file" name="image" id="user-pic-upload" accept="image/*"/>
								    <input type="submit" value="Save Changes" name="save" />        
							</form>
						{% endif %}
					{% endif %}
					<h3 class="h3 mx-auto my-3"><strong>{{user_filt.username}}</strong></h3>
					<p class="mx-auto">Experience Points: {{user_filt.exp}}</p>

					<small class="mx-auto">
						<div class="row">
							<div class="col-6">
								<p class="font-weight-bold mb-1">First Name</p>
								<p class="d-inline-flex">
									<span class="my-auto">
									{{user_filt.first_name}} {% if user_filt.suffix %} {{user_filt.suffix}}{% endif %}</span>
								</p>

								{% if user_filt.middle_name != None %}
									<p class="font-weight-bold mb-1">Middle Name</p>
									<p class="d-inline-flex">
										<span class="my-auto">{{user_filt.middle_name}}</span>
									</p>
								{% endif %}

								<p class="font-weight-bold mb-1">Last Name</p>
								<p class="d-inline-flex">
									<span class="my-auto">{{user_filt.last_name}}</span>
								</p>
							</div>
							<div class="col-6">
								{% if user_filt.studentnum != None %}
									<p class="font-weight-bold mb-1">Student Number</p>
									<p>
										{% if user_filt.show_studentnum %} 
											{{user_filt.studentnum}}
										{% else %}
											<span class="text-muted d-inline-flex">
												<i class="material-icons material-icon-sm my-auto mr-2 info-help" title="Only you can see this information.">
													visibility_off
												</i>
												<span class="my-auto">
													{% if user.username == user_filt.username %}
														{{user_filt.studentnum}}
													{% else %}
														Hidden
													{% endif %}
												</span>
											</span>
										{% endif %}
										</p>
								{% endif %}

								<p class="font-weight-bold mb-1">E-mail</p>
								<p>
									{% if user_filt.show_email %} 
										{{user_filt.email}}
									{% else %}
										<span class="text-muted d-inline-flex">
											<i class="material-icons material-icon-sm my-auto mr-2 info-help" title="Only you can see this information.">
												visibility_off
											</i>
											<span class="my-auto">
												{% if user.username == user_filt.username %}
													{{user_filt.email }}
												{% else %}
													Hidden
												{% endif %}
											</span>
										</span>
									{% endif %}
								</p>

								{% if user_filt.course != None or user_filt.course != "" %}
									<p class="font-weight-bold mb-1">Degree Program</p>
									<p>{{user_filt.course}}</p>
								{% endif %}
							</div>
						</div>
					</small>
				</div>
			</div>
			<div class="col-lg-8 upage-comments mt-5 mt-lg-0" >

				<ul class="nav nav-tabs d-flex mt-2" id="myTab" role="tablist">
					<h2 class="mb-0 font-weight-bold d-flex">
						<span class="position-relative ml-2" style="bottom: 0.25em">
							Comments
						</span>
					</h2>
				  <li class="nav-item ml-auto">
				    <a class="nav-link active" id="created-tab" data-toggle="tab" href="#created" role="tab" aria-controls="created" aria-selected="true">
				    		Created
				    	<div class="ml-auto my-auto position-absolute active-visible">
				    		<div class="d-flex position-relative" style="left: 3.4em; bottom:2.5em">
								<i class="material-icons my-auto mr-2 import-font-primary">mode_comment</i> 
								<div class="position-absolute d-flex" style="color: white; width: 1.5em"><small class="created-count position-relative m-auto font-weight-bold " style="top:0.05em">
										{{ user_comments.count  }}
								</small></div>
							</div>
						</div>

				    </a>
				  </li>
				  <li class="nav-item mr-2">
				    <a class="nav-link" id="liked-tab" data-toggle="tab" href="#liked" role="tab" aria-controls="liked" aria-selected="false">Liked

				    <div class="ml-auto my-auto position-absolute active-visible">
			    		<div class="d-flex position-relative" style="left: 2.15em; bottom:2.5em">
							<i class="material-icons my-auto mr-2 import-font-primary">mode_comment</i> 
							<div class="position-absolute  d-flex" style="color: white; width: 1.5em"><small class="liked-count position-relative m-auto font-weight-bold" style="top:0.05em">
									{{ liked_comments_data.count }}
							</small></div>
						</div>
					</div>

				    </a>
				  </li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="created" role="tabpanel" aria-labelledby="created-tab">
						<div class="comments px-3 user-comments">
							{% if user_comments.count == 0 %}

								<div class="mt-3 d-inline-flex text-muted">
									<i class="material-icons my-auto mr-2">
								comment
								</i>
								<span class="my-auto">{{user_filt.username}} has not made any comments.</span>
							</div>

						{% else %}
							{% for comment in user_comments.content %}
								{% include 'reviewer/partials/comment.html' %}
							{% endfor %}
						{% endif %}					
						</div>
					</div>
					<div class="tab-pane fade" id="liked" role="tabpanel" aria-labelledby="liked-tab">
						<div class="comments px-3 liked-comments">
							{% if liked_comments_data.count == 0 %}
								<div class="mt-3 d-inline-flex text-muted">
									<i class="material-icons my-auto mr-2">star</i>
									<span class="my-auto">{{user_filt.username}} has not liked any comments.</span>
								</div>
							{% else %}
								{% for comment in liked_comments_data.content %}
									{% include 'reviewer/partials/comment.html' %}
								{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>				
			</div>
		</div>
	</div>
{% endblock %}


{% block modal %}

	<div class="modal fade" id="CropImageModal" tabindex="-1" role="dialog" aria-labelledby="CropImageModalTitle" aria-hidden="true">
			  <div class="modal-dialog modal-dialog-centered" role="document">
			    <div class="modal-content">
			      <div class="modal-header d-flex align-items-center">
			        <h5 class="modal-title d-flex">
			        	<i class="material-icons my-auto import-font-primary mr-2">
							crop
						</i>
			        	<span class="font-weight-bold my-auto">Crop Image</span>
			        </h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
			          <span aria-hidden="true">&times;</span>
			        </button>
			      </div>
			    
				      <div class="modal-body d-flex" style="height: 400px">
				        <div class="croppie m-auto" style="height:300px; width:300px"></div>
				      </div>
				      <div class="modal-footer d-flex justify-content-between">
				      	 <button class="btn btn-sm btn-light d-inline-flex save-skip-image px-2">
				      	 	{% comment %}
							<i class="material-icons my-auto material-icon-sm mr-2">
							save
							</i>
							{% endcomment %}
							<span class="my-auto">Skip Cropping</span>
						</button>
				        <button class="btn btn-sm btn-primary d-inline-flex save-crop-image px-2">
							<i class="material-icons my-auto material-icon-sm mr-1">
							crop
							</i>
							<span class="my-auto">Crop Image</span>
						</button>
				      </div>

			    </div>
			  </div>
			</div>
	</div>

{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css">
{% endblock %}

{% block scripts %}
	<script src="{% static 'reviewer/js/import_comments.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
	<script>
		var croppie_size = 200; 
		var image_has_file = false;
		var submitting = false;
		var croppie = $('.croppie').croppie({
		    viewport: { width: croppie_size, height: croppie_size,  type: 'circle'},
		    boundary:{width: 300, height:300 }
		});
		$('.prof-pic').on('click', function(){
			$("#user-pic-form input[type=file]").click();
		});
		function clearFile(){
			$("#user-pic-form input[type=file]").val('');
			image_has_file = false;
			submitting = false;
		}
		function readFile(file) {                                                       
		    var reader = new FileReader();
		    reader.onload = readSuccess;                                            
		    function readSuccess(evt) { 
		    	var image = new Image();
		    	var size = 0;
	            image.src = evt.target.result;
	            image.onload = function(){
			        var imagesize = Math.min(this.width, this.height);
					size = croppie_size/imagesize;
				  	$('.cr-slider').attr({'min': size, 'max': size*2.25 });
			    };
		       croppie.croppie('bind', {
				    url: evt.target.result,
				    zoom: size
				});                               
		    };
		    reader.readAsDataURL(file);                                             
		} 
		function CropSubmit(form_name, crop){
			if (importApp.requests.ajax)
		        importApp.request.ajax.abort();
			var CropForm = document.getElementById(form_name);
			var fd = new FormData(CropForm);
			var userURL = "{% url 'user' user_filt.username %}";
			if (crop){
				var image_name = fd.get('image').name
				fd.delete('image');
				
				croppie.croppie('result', {
					type: 'blob',
					size: 'original',
					circle: false
				}).then(function(response){
					fd.append("image", response, image_name);
					CropSubmitSend();
				});
			}
	        else{
	        	CropSubmitSend();
	        }
	        function CropSubmitSend(){
	        	$(".loader-screen").fadeIn();
		        importApp.requests.ajax = $.ajax({
		            url: userURL,
		            type: 'post',
		            data: fd,
		            contentType: false,
		            processData: false,
		            error: function(xhr, status, error){
		            	importApp.requests.ajaxFail(xhr,status,error);
		            	$(".loader").addClass("failed");
		            },
		            success: function (response, status, xhr){
						response.error? alert(response.error): null;
						importApp.urls.refresh();
					},
					complete: function(){
						$(".loader").removeClass("failed");
				    	$(".loader-screen").fadeOut();
				    	clearFile();
					}
		        });
	        }
		}
		$('#user-pic-upload').on("change", function(){ 
			if (!image_has_file){
				image_has_file = true;
				try{
					readFile(this.files[0])
					$('#CropImageModal').modal('show');
				}
				catch(err){
					console.warn(err);
				}
			}
		});
		$(".user-pic-form").on("submit", function(e){
			e.preventDefault();
			$('#CropImageModal').modal('hide');
			CropSubmit('user-pic-form', false);
		});
		$(".save-skip-image").on("click", function(){
			submitting = true;
			$('#CropImageModal').modal('hide');
			CropSubmit('user-pic-form', false);
		});
		$(".save-crop-image").on("click", function(){
			submitting = true;
			$('#CropImageModal').modal('hide');
			CropSubmit('user-pic-form', true);
		});
		{% if error %}
			alert("{{error}}");
		{% endif %}
		
		importApp.load({
			urls: {
				courseURL : "{% url 'course' '$course_code' 123456789 %}",  
				likeURL : "{% url 'comment_like' '$course_code' 123456789 %}"
			}
		});
		$(".upage-comments").on("click", ".comment-delete" ,  function(e){ e.stopPropagation(); importApp.comments.delete(this); }); 
		$('#CropImageModal').on('hidden.bs.modal', function (e) {
			if (!submitting)
				clearFile();
		})
	</script>
{% endblock %}