{% extends 'reviewer/admin/admin.html' %}

{% load static %}
{% block title %}
	{{course.name}} Lessons
{% endblock %}


{% block admin_side %}
	<div class="tab-pane fade show active" id="v-pills-courses" role="tabpanel" aria-labelledby="v-pills-courses-tab">
		<div class="d-flex justify-content-between mb-3">
			<div class="mb-4 d-flex">
				<h2 class="font-weight-bold my-auto">{{course.name}}</h2>
				<i class="material-icons h3 mx-2 my-auto">
					arrow_forward
				</i>
				<i class="material-icons import-font-primary my-auto mr-2">
					assignment
				</i>
				<h4 class="my-auto">Lessons</h4>
			</div>
			<div class="d-flex align-items-center">

				{% if lessons.count > 0 %}
				<button type="button" class="btn btn-light px-3 mr-2 d-flex lesson-reorder-button">
					<div class="my-auto d-flex">
						<i class="material-icons">
							reorder
						</i>
						<span class="my-auto ml-1 d-none d-md-block">
							Reorder
						</span>	
					</div>
				</button>
				{% endif %}
				

				<a href="{% url 'admin_lessons_add' %}?course={{course.pk}}">
					<button type="button" class="btn btn-light px-3 d-flex">
						<div class="my-auto d-flex">
							<i class="material-icons">
								add
							</i>
							<span class="my-auto ml-1 d-none d-md-block">
								Add Lesson
							</span>	
						</div>
					</button>
				</a>
				
			</div>
		</div>


		{% if lessons.count > 0 %}
			<div class="lesson-reorder-container">
				<div class="alert alert-danger d-none">
					<div class="d-flex justify-content-start">
						<i class="material-icons my-auto ml-0 mr-2">error_outline</i>
						<span class="my-auto alert-msg">Error Message</span>
					</div>
				</div>
				<div class="lesson-reorder-border">
					<div class="lesson-reorder">
						{% for lesson in lessons %}
							<div class="py-4 pr-4 mb-3 row mx-0 layer-container lesson" data-order="{{lesson.order}}">
								<div class="col-8 my-auto">
									<div class="d-flex flex-wrap">
										<div class="my-auto mr-2 d-flex lesson-reorder-hover justify-content-start">
											<i class="material-icons m-auto">
												more_vert
											</i>
											<i class="material-icons m-auto position-absolute" style="left:8px">
												more_vert
											</i>
										</div>
										<div class="my-auto d-flex flex-column">
											<span class="font-weight-bold comment-username d-flex">
												<span class="my-auto">{{lesson.name}}</span>
												{% if lesson.verified %}
													<i class="material-icons material-icon-sm import-font-primary p-0 my-auto mx-2 info-help" title="This lesson is verified.">check_circle</i>
												{% endif %}
											</span>

										</div>
									</div>
								</div>

								
								<div class="col-4 d-flex my-auto">
									<div class="ml-auto d-flex">
										
										<a class="ml-2 my-auto" href="{% url 'admin_lesson' lesson.id  'edit' %}">
											<button  type="button" class="btn btn-light px-2 d-flex">
												<div class="m-auto d-flex">
													<i class="material-icons material-icon-sm">
														edit
													</i>
												</div>
											</button>
										</a>

										<button class="btn btn-danger d-flex delete-lesson px-2 my-auto ml-2" target-lessname="{{lesson.name}}" type="submit" form="lessons-delete-form" >
											<i class="material-icons m-auto material-icon-sm">
												delete
											</i>
										</button>
										<form action="{% url 'admin_lesson' lesson.id 'delete' %}" id="lessons-delete-form" method="post" >
											{% csrf_token %}
										</form>

									</div>
								</div>		
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="lesson-reorder-bg d-flex">
					<div class="mt-auto mx-auto mb-4">
						<button class="btn bg-light btn-light p-3 d-flex" type="button">
							<i class="material-icons m-auto">
							close
							</i>
						</button>
					</div>
				</div>
			</div>
		{% else %}
			<div class="text-center mt-4 d-flex text-muted">
				<div class="mx-auto d-flex"> 
					<i class="material-icons my-auto ml-0 mr-2">
						assignment
					</i>
					<span class="my-auto">No lessons available to show</span>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block scripts %}

	<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.min.js"></script>

	<script>

		var current_order = []
		var new_order = []

		$('.lesson-reorder').sortable({
			animation: 200, 
			easing: "cubic-bezier(1, 0, 0, 1)",
			disabled: true,
			chosenClass: "dragged"
		});

		$('.lesson-reorder-button').on('click', function (e) { 
		 	e.preventDefault();
		 	$('.lesson-reorder').sortable('disabled', false);

		 	$(".lesson-reorder-container").addClass("lesson-reorder-move");
		 	$(".lesson-reorder-border").addClass("px-3");
		 	$(".lesson-reorder-border").addClass("pt-3");

		 	current_order = [] 
		 	$('.lesson-reorder').children().each(function(){
		 		current_order.push($(this).attr('data-order'));
			});

		});

		$('.lesson-reorder-bg').on('click', function (e) { 
		 	e.preventDefault();
		 	$('.lesson-reorder').sortable('disabled', true);

		 	$(".lesson-reorder-container").removeClass("lesson-reorder-move");
		 	$(".lesson-reorder-border").removeClass("px-3");
		 	$(".lesson-reorder-border").removeClass("pt-3");

		 	new_order = []
		 	$('.lesson-reorder').children().each(function(){
		 		new_order.push($(this).attr('data-order'));
			});

			if(JSON.stringify(current_order) != JSON.stringify(new_order)){

				if (importApp.requests.ajax)
					importApp.requests.ajax.abort();

				importApp.requests.ajax =  $.ajax({
					method: 'post',
					url: "{% url 'admin_course_id' course.code|lower course.number 'lessons' %}",
					data: {'order': new_order},
					cache: false,
					headers: {'X-CSRFToken': importApp.csrfToken },
					success: function (response, status, xhr){
						if (response.error == null){
							$(".alert").addClass('d-none');
						}
						else{
							$(".alert").removeClass('d-none');
							$(".alert-msg").html(response.error)
						}
					}
				});
			}
		});

		$('.delete-lesson').on('click', function (e) { 
		 	confirm('Are you sure you want to delete ' + $(this).attr("target-lessname") + '?')? null: e.preventDefault();
		});
	</script>
{% endblock %}