{% extends 'reviewer/admin/admin.html' %}

{% load static %}
{% block title %}
	Languages
{% endblock %}


{% block admin_side %}
	<div class="tab-pane fade show active" id="v-pills-users" role="tabpanel" aria-labelledby="v-pills-users-tab">

		<div class="d-flex justify-content-between">
			<h2 class="font-weight-bold mb-4">Languages</h2>
			<div class="d-inline-block">

					<a href="{% url 'admin_lang_add' %}">
						<button type="button" class="btn btn-light px-3 d-flex" >
							<div class="my-auto d-flex">
								<i class="material-icons">
									add
								</i>
								<span class="my-auto ml-1 d-none d-md-block">
								Add Language</span>	
							</div>
						</button>


					</a>
				</div>
		</div>
		
		{% for lang in langlist %}
			<div class="p-4 mb-3 row layer-container">
				<div class="col-8 d-flex">
					<div class="course-thumb rounded-circle d-flex align-items-center" style="background-color:  #{{ lang.color }}">
						<div class="m-auto lang-badge rounded-circle p-4" style="{% if lang.image %}background-image: url('{{lang.image.url}}'); {%endif%}">
						</div>
					</div>
					<div class="my-auto mx-3 d-inline-flex flex-column">
						<span class="font-weight-bold d-flex">
							<span class="my-auto mr-2">{{lang.name}}</span>
						</span>
					</div>
				</div>

			
				<div class="col-4 d-flex">
						<a class="ml-auto my-auto" href="{% url 'admin_lang'  lang.id 'edit' %}">
							<button  type="button" class="btn btn-light px-2 d-flex">
								<div class="m-auto d-flex">
									<i class="material-icons material-icon-sm">
										edit
									</i>
								</div>
							</button>
						</a>

						<a class="ml-2 delete-lang my-auto" href="{% url 'admin_lang' lang.id  'delete' %}">
							<button  type="button" class="btn btn-danger px-2 d-flex">
								<div class="m-auto d-flex">
									<i class="material-icons material-icon-sm">
										delete
									</i>
								</div>
							</button>
						</a>
				
				</div>

			
			</div>
		{% endfor %}

	</div>

{% endblock %}


{% block scripts %}

	<script>

		 $('.delete-lang').on('click', function (e) {

		 	var del = confirm('Are you sure you want to delete {{course_filt.name}}?');

		 	if (!del){
		 		e.preventDefault();
		 	}
	    });


	</script>

{% endblock %}