<h2 class="admin-title mb-3 h2">
	<span class="d-inline-flex">
		<i class="material-icons my-auto mx-3 import-font-primary" style="font-size: inherit;">
			{% if title == 'Add Language'%}
					add
			{% elif title == 'Edit Language' %}
					edit
			{% endif %}
		</i>
		<span class="my-auto">
			<span class="font-weight-bold">{{title}}</span>
			{% if title == 'Edit Language' %}
				<p class="h6 text-muted">{{edit_lang.name}}</p>
			{% endif %}
		</span>
	</span>
</h2>

{% if error %}
	<div class="w-100 alert-danger p-3 d-flex">
		<i class="material-icons mr-3 my-auto ml-0">
		error_outline
		</i>
		<span class="my-auto">{{error}}</span>
	</div>
{% endif %}
<div class="d-flex flex-column p-3 pb-0">
	<form class="form-group mb-0" method="POST" action="
		{% if title == 'Add Language' %}
			{% url 'admin_lang_add' %}
		{% else %}
			{% url 'admin_lang' edit_lang.id 'edit' %}
		{% endif %}
		" enctype="multipart/form-data">
		{% csrf_token %}

		<div class="row">
			<div class="col-lg-6">
				<div class="form-control-group mb-3">
					<h6 class="font-weight-bold">Name</h6>
					{{ langform.name }}
				</div>
							
				<div class="d-flex">
					<div class="mr-3">

						<div class="form-control-group course-image-upload d-none position-absolute">
							<div>
								{{ langform.imagehascleared }}
							</div>
							<div>
								{{ langform.image }}
							</div>
						</div>
						<h6 class="font-weight-bold">Photo</h6>
						<button class="mx-auto border-dashed import-image-drag {% if user.is_authenticated %}import-image-drag-enabled{%else%}-disabled{%endif%}" data-file-target="course-image-upload" style="border-width: 1px" type="button">
							{% if user.is_authenticated %}
								<div class="addphoto-popper ml-2 p-3">
									Add a photo
								</div>
							{% endif %}
							<i class="material-icons p-4">
								add_a_photo
							</i>
						</button>



						<script>
							try{
								PhotoUploadTooltip();
							}
							catch(error){

							}
						</script>
					</div>
					<div class="form-control-group mb-3">
						<h6 class="font-weight-bold">Color</h6>
						{{ langform.color }}
					</div>	

				</div>

				
			</div>

		</div>


		<hr>
		<div class="w-100 d-flex mt-3">
			<div class="mr-auto form-group w-50 my-auto">
				<h6 class="font-weight-bold d-inline-flex mr-2">
					<i class="material-icons my-auto material-icon-sm mr-1">
						verified_user
					</i>
					<span class="my-auto">
						Confirm Action
					</span>
				</h6>
				<input class="form-control my-3 w-100" name="password" type="password" placeholder="Type password to confirm" required>
			</div>
			<div class="form-group mt-auto">
				<input class="btn btn-primary ml-auto mr-auto mr-lg-0" type="submit" value="Submit">
			</div>	
		</div>	
			
	</form>
</div>