

<h2 class="admin-title mb-3 h2 d-inline-block">
	<span class="d-inline-flex">
		<i class="material-icons my-auto mx-3 import-font-primary" style="font-size: inherit;">
			{% if title == 'Create Announcement'%}
					add
			{% elif title == 'Edit Announcement' %}
					edit
			{% endif %}
		</i>
		<span class="my-auto">
			<span class="font-weight-bold">{{title}}</span>
			{% if title == 'Edit Announcement' %}
				<p class="h6 text-muted">{{edit_lang.name}}</p>
			{% endif %}
		</span>
	</span>
</h2>

<button class="btn btn-primary d-inline-flex float-right" type="submit" form="announcement-form">
	<i class="material-icons my-auto material-icon-sm mr-lg-2">
		publish
	</i>
	<span class="my-auto d-none d-lg-block">Publish</span>
</button>

{% if error %}
	<div class="w-100 alert-danger p-3 d-flex">
		<i class="material-icons mr-3 my-auto ml-0">
		error_outline
		</i>
		<span class="my-auto">{{error}}</span>
	</div>
{% endif %}
<div class="d-flex flex-column p-3 pb-0">
	<form class="form-group mb-0" id="announcement-form" method="POST" action="
		{% if title == 'Create Announcement' %}
			{% url 'admin_lang_add' %}
		{% else %}
			{% url 'admin_lang' edit_lang.id 'edit' %}
		{% endif %}
		" enctype="multipart/form-data">
		{% csrf_token %}


		<div class="form-group row">
			<div class="col-10 col-lg-8">
				<label><strong>Title</strong> <span class="import-font-primary">*</span> </label>
				<input class="form-control pr-5 mx-0" type="text" name="title" value="" required>
				<div class="invalid-feedback">
					This field is required.
				</div>
			</div>
			<div class="mt-auto col-lg-4 d-flex col-2">
				<div class="d-flex mb-2 mx-auto">
					<label class="my-auto ml-auto mr-0"><strong class="d-none d-lg-block">E-mail Notification</strong></label>
					<span class="my-auto d-none position-absolute notif-val">
						<input type="checkbox" name="em_notif" value="notif_on" {% if user.notifications %}checked{% endif %}>
					</span>

					<i class="material-icons my-auto togglable mr-2 ml-2 {% if user.notifications %}active-button{% endif %}" onclick="$('.notif-val input').click();">
						{% if user.notifications %}
							notifications_active
						{% else %}
							notifications_off
						{% endif %}
					</i>

					<span class="d-none d-md-block icaption my-auto {% if user.notifications %}active-button{% endif %}">
						{% if user.notifications %}
							On
						{% else %}
							Off
						{% endif %}
					</span>
				</div>
			</div>
			

		</div>

		<div id="quill-editor">
		</div>

		<div class="announcement-photo mt-3">
			<strong>Photo</strong>
		</div>

			
	</form>
</div>