{% extends 'reviewer/admin/admin.html' %}

{% load static %}
{% block title %}
	Announcements
{% endblock %}


{% block admin_side %}
	<div class="tab-pane fade show active" id="v-pills-users" role="tabpanel" aria-labelledby="v-pills-users-tab">
		<div class="d-flex justify-content-between">
			<h2 class="font-weight-bold mb-4">Announcements</h2>
			<div class="d-inline-block">
				<a href="{% url 'admin_announcement_create' %}">
					<button type="button" class="btn btn-light px-3 d-flex" >
						<div class="my-auto d-flex">
							<i class="material-icons">
								create
							</i>
							<span class="my-auto ml-1 d-none d-md-block">
							Create Announcement</span>	
						</div>
					</button>
				</a>
			</div>
		</div>
		{% if announcements.count > 0%}
			<div class="row d-flex">
			{% for announcement in announcements %}
				<div class="col-md-6 d-flex p-3">
					<div class="m-auto layer-container w-100">
						<div class="comment-username w-100 announcement-card">
							<a href="{% url 'announcement_view' announcement.id %}" class="mx-0 layer-container d-flex announcement-image comment-username" {% if announcement.imageID %} style="background-image: url('https://drive.google.com/uc?export=view&id={{announcement.imageID | urlencode }}');" {% endif %} >

								{% if not announcement.imageID %}
									<div class="m-auto text-center">
										<span class="font-weight-bold h1">import<sup class="import-font-primary">*</sup></span>
										<span class="h6 text-right text-muted d-none d-md-block">ANNOUNCEMENTS</span>
									</div>
								{% endif %}
							</a>

							<div class="d-flex">
								<div class="p-4 my-auto">
									<a href="{% url 'announcement_view' announcement.id %}" class="comment-username">
										<h5 class="announcement-title font-weight-bold">
											{{ announcement.title }}
										</h5>
										<small>{{announcement.datepost|date:"M d, Y, h:i A"}}</small>
									</a>
								</div>

								<a href="{% url 'admin_announcement_update' announcement.id 'edit' %}" class="ml-auto d-flex">
									<button class="btn btn-light m-auto d-flex p-2">
										<span class="material-icons m-auto">
											edit
										</span>
									</button>
								</a>
								<a href="{% url 'admin_announcement_update' announcement.id 'delete' %}" class="ml-2 d-flex mr-4 delete-announcement">
									<button class="btn btn-danger m-auto d-flex p-2">
										<span class="material-icons m-auto">
											delete
										</span>
									</button>
								</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
		{% else %}
			<div class="text-center mt-4 d-flex">
				<div class="mx-auto d-flex text-muted"> 
					<i class="material-icons my-auto ml-0 mr-2">
						announcement
					</i>
					<span class="my-auto">No announcements available to show</span>
				</div>
			</div>
		{% endif %}
	</div>

{% endblock %}


{% block scripts %}

	<script>
		 $('.delete-announcement').on('click', function (e) {
		 	confirm('Are you sure you want to delete this announcement?')? null: e.preventDefault();
	    });
	</script>

{% endblock %}