

<h2 class="admin-title mb-3 h2 d-inline-block">
	<span class="d-inline-flex">
		<i class="material-icons my-auto mx-3 import-font-primary" style="font-size: inherit;">
			{% if title == 'Create Announcement'%}
					add
			{% elif title == 'Edit Announcement' %}
					edit
			{% endif %}
		</i>
		<span class="my-auto">
			<span class="font-weight-bold">{{title}}</span>
			{% if title == 'Edit Announcement' %}
				<p class="h6 text-muted">{{edit_ann.title}}</p>
			{% endif %}
		</span>
	</span>
</h2>

<button class="btn btn-primary d-inline-flex float-right announcement-submit" type="submit" form="announcement-form">
	<i class="material-icons my-auto material-icon-sm mr-lg-2">
		publish
	</i>
	<span class="my-auto d-none d-lg-block">Publish</span>
</button>

{% if error %}
	<div class="w-100 alert-danger p-3 d-flex">
		<i class="material-icons mr-3 my-auto ml-0">
		error_outline
		</i>
		<span class="my-auto">{{error}}</span>
	</div>
{% endif %}
<div class="d-flex flex-column p-3 pb-0">
	<form class="form-group mb-0" id="announcement-form" method="POST" action="
		{% if title == 'Create Announcement' %}
			{% url 'admin_announcement_create' %}
		{% else %}
			{% url 'admin_announcement_update' edit_ann.id 'edit' %}
		{% endif %}
		" enctype="multipart/form-data">


		{% csrf_token %}


		<div class="form-group row">
			<div class="col-10 col-lg-8">
				<label><strong>Title</strong> <span class="import-font-primary">*</span> </label>
				<input class="form-control pr-5 mx-0 announcement-title" type="text" name="title" value="{{edit_ann.title}}" autocomplete="off" required>
				<div class="invalid-feedback">
					This field is required.
				</div>
			</div>
			<div class="mt-auto col-lg-4 d-flex col-2">
				<div class="d-flex mb-2 mx-auto">
					<label class="my-auto ml-auto mr-0 {% if title == 'Edit Announcement' %}text-muted{% endif %}"><strong class="d-none d-lg-block">E-mail Notification</strong></label>

					{% if title == 'Create Announcement' %}
					<span class="my-auto d-none position-absolute notif-val">
						<input type="checkbox" name="em_notif" value="notif_on" checked>
					</span>
					{% endif %}

					<i class="material-icons my-auto {% if title == 'Create Announcement' %} togglable {% endif %} mr-2 ml-2 {% if title == 'Create Announcement' %}active-button{% endif %} text-muted" onclick="$('.notif-val input').click();">
						{% if title == 'Create Announcement' %}
							notifications_active
						{% else %}
							notifications_off
						{% endif %}
					</i>

					<span class="d-none d-md-block icaption my-auto {% if user.notifications %}active-button{% endif %} text-muted">
						{% if title == 'Create Announcement' %}
							On
						{% else %}
							Off
						{% endif %}
					</span>
				</div>
			</div>
			

		</div>

		<div id="quill-editor">
		</div>

		<div class="announcement-photo mt-4">
		
			<div class="form-control-group announcement-image-upload d-none position-absolute">
				<div>
					<input type="checkbox" name="imagehascleared" class="form-check-input" id="id_imagehascleared">
				</div>
				<div>
					{{image_form.image}}
				</div>
			</div>
			<h6 class="font-weight-bold my-3">Featured Image</h6>
			<button class="mx-auto border-dashed import-image-drag import-image-drag-large {% if user.is_authenticated %}import-image-drag-enabled{%else%}-disabled{%endif%}" data-file-target="announcement-image-upload" style="border-width: 2px;" type="button" id="photo_upload" aria-describedby="addphoto-popper">
				{% if user.is_authenticated %}
					<div id="addphoto-popper" class="addphoto-popper p-3 position-absolute" role="tooltip">
						Add a photo
						<div id="arrow" data-popper-arrow></div>
					</div>
				{% endif %}
				<i class="material-icons p-4">
					add_a_photo
				</i>
			</button>
		</div>

			


	</form>
</div>